{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Чистота</title>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Чистота ДВ">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Чистота ДВ">
    <meta name="msapplication-TileColor" content="#009BE5">

    <meta property="og:title" content="Чистота ДВ">
    <meta property="og:description"
          content="Профессиональный клининг для дома и офиса с гарантией качества.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://chistota-dv.ru/">
    <meta property="og:image" content="/og-image.jpg">

    <meta name="currency" content="ruble">
    <meta name="theme-color" content="#009BE5">
    <meta name="description"
          content="Профессиональный клининг во Владивостоке: уборка квартир, уборка офисов, генеральная уборка, послеремонтная уборка. Надежная клининговая компания с опытом.">
    <meta name="author" content="Чистота ДВ">
    <meta name="copyright" content="© 2025 ЧИСТОТА ДВ">
    <title>Услуги клининга во Владивостоке — профессиональная уборка квартир и офисов</title>
    <link rel="icon" sizes="32x32" href="{% static 'pages/favicon.svg' %}">
    <link rel="icon"
          sizes="32x32"
          href="{% static 'pages/icons/favicons/favicon.svg' %}"
          type="image/svg+xml">
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'pages/icons/favicons/favicon.png' %}">
    <link rel="canonical" href="https://www.chistota-dv.ru/">



      {% if DEBUG %}
          <script type="module" src="http://localhost:5173/@vite/client"></script>
          <script type="module" src="http://localhost:5173/scripts/main.js"></script>
      {% else %}
          <link rel="stylesheet" href="{% static 'pages/main.css' %}"/>
          <script src="{% static 'pages/main.js' %}" type="module" defer></script>
      {% endif %}

  </head>
  <body id='top'>
    {% include 'partials/header.html' %}
    <div id="smooth-wrapper">
        <div id="smooth-content">
            <main id="main" class="main">
              {% block content %}{% endblock %}
            </main>
            {% include 'partials/footer.html' %}

        </div>
    </div>
    {% include "modals/modal.html" %}
    {% include "modals/modal-success.html" %}
  </body>
</html>
