{% extends 'base.html' %}
{% load static number_filters %}
{% block content %}
  <section class="service-detail" data-case-fancybox>
    <div class="service-detail__info">
      <div class="service-detail__info-wrapper">
        <h1 class="h5 gradient service-detail__info-header scroll-reveal-left">{{ service.scope.name }}</h1>
        <p class="service-detail__info-description  scroll-reveal-left">{{ service.desc }}</p>
        <div class="service-detail__info-features  scroll-reveal-left">
          <div class="slider__features service-detail__info-feature">
            <svg width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z" stroke="#0060DF" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M15.7099 15.18L12.6099 13.33C12.0699 13.01 11.6299 12.24 11.6299 11.61V7.51001" stroke="#0060DF" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            {{ service.time_work }} ч
          </div>
          <div class="slider__features service-detail__info-feature">
            <svg width="24"
                 height="24"
                 viewBox="0 0 24 24"
                 fill="none"
                 xmlns="http://www.w3.org/2000/svg">
              <path d="M11.9999 3.00012C7.03197 3.00012 3 7.0321 3 12.0001M11.9999 21C16.9679 21 20.9999 16.968 20.9999 12.0001" stroke="#0060DF" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M16.1035 7.89619L20.2795 3.72021" stroke="#0060DF" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M7.89648 16.1038L3.72051 20.2798" stroke="#0060DF" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M11.7002 12.3L12.6002 11.4" stroke="#0060DF" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M21.0003 7.34697V3H16.6533" stroke="#0060DF" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
              <path d="M2.99971 16.653V21H7.34668" stroke="#0060DF" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
            </svg>
            до {{ service.square|space_thousands }} м2
          </div>
        </div>
      </div>
        <div class="service-detail__form-wrapper decorative-lines__wrapper  scroll-reveal-left">
            {% include 'partials/contact-request-form.html' with with_header=False %}
            <div class="decorative-lines">
                <span class="decorative-lines__item"></span>
                <span class="decorative-lines__item"></span>
                <span class="decorative-lines__item"></span>
            </div>
        </div>
    </div>
      {% if service.video %}
      <div class="service-detail__video  scroll-reveal-right" data-case-item >
          <video
              src="{{ service.video.url }}"
              preload="auto"
              muted
              autoplay
              playsinline
              loop
          >
          </video>
      </div>
      {% else %}
    {% if service.photo %}
      <div class="service-detail__image  scroll-reveal-right" data-case-item>
          <img
            src="{{ service.photo.url }}"
            alt="Фотография {{ service.scope.name }}"
          >
      </div>
    {% endif %}
  {% endif %}
  </section>
  {% if service.inclusions.all %}
    <section class="service-included">
      <div class="h5 service-included__header scroll-reveal-left">Что входит в услугу:</div>
      <ul class="service-included__list">
        {% for inclusion in service.inclusions.all %}
          <li class="service-included__list-item">
            <div class="service-included__list-item-header scroll-reveal-left">{{ inclusion.header }}</div>
            <div class="service-included__list-item-description scroll-reveal-left">{{ inclusion.description }}</div>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
  {% include 'partials/cases.html'%}
  {% include 'partials/cta-request.html' %}
  {% include 'partials/reviews.html' %}
    {% include 'partials/cta-accent.html' %}
  {% include 'partials/faq.html' with with_border=True %}
{% endblock %}
