# Git files
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Environments
.env
venv/
env/

# Node
node_modules/
frontend/node_modules/

# Django
db.sqlite3
/static/
/pages/static/

# IDEs
.vscode/
.idea/
