@use "../helpers" as *;

.card-features {
  display: flex;
  align-items: center;
  border: 1px solid var(--color-gray-100);
  font-size: 1vw;
  line-height: normal;
  border-radius: rem(150);
  gap: rem(6);
  padding: 0.5vw 1vw;
  background: rgba(251, 138, 46, 0.1);
  
  @media (max-width: 1500px) {
    font-size: 16px;
  }

  @include tablet {
    font-size: rem(14);
    padding: 12px 22px;
  }

  @include mobile{
    padding: 11px 14px;
    text-wrap: nowrap;
  }

  @include mobile-s {
    padding: 6px 8px;
  }
}