@use "../helpers" as *;

.carousel {
  &__wrapper {
    margin-bottom: 36rem;
    width: 100%;
    overflow: hidden;

    @include tablet{
      bottom: 60rem;
    }
    @include mobile{
      bottom: 75rem;

    }
  }

  &__track {
    display: flex;
    align-items: center;
    gap: 20rem;
    width: max-content;
  }

  &__slide{
    img{
      @include tablet {
        width: 80%;
      }
    }
  }
}