@use "../helpers" as *;

.card-features {
  display: flex;
  align-items: center;
  font-size: fluid(16, 14);
  font-weight: 500;
  line-height: normal;
  border-radius: rem(150);
  gap: rem(6);
  padding: 0.5vw 1vw;
  background: #F5F8FC;

  @include tablet {
    padding: 12px 22px;
  }

  @include mobile {
    padding: 11px 14px;
    text-wrap: nowrap;
  }

  @include mobile-s {
    padding: 6px 8px;
  }
}
