@use "../helpers" as *;

.cases {
  border-top: 1px solid var(--color-gray-100);

  &__inner {

    padding-top: rem(80);
    padding-bottom: rem(80);
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    row-gap: rem(48);


    @include tablet {
      padding-block: rem(40);
      row-gap: rem(32);
      padding-inline: 20px;
    }
  }

  &__controls-prev,
  &__controls-next {
    border: 1px solid var(--color-blue) !important;
    background-color: var(--color-blue) !important;


    &.is-disabled {
      background-color: var(--color-white) !important;
      pointer-events: none;
      cursor: default;

      img {
        filter: brightness(1) invert(0) !important;
      }
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;

    @include mobile {
      order: 1;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: flex-start;
      gap: rem(24);
    }
  }

  &__subtitle {
    max-width: 50%;
    font-size: 1.5vw;

    @include tablet {
      max-width: 45%;
      font-size: rem(20);
    }

    @include mobile {
      max-width: 100%;
    }
  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include mobile {
      display: contents;
      flex-direction: column;
      order: 2;
    }
  }

  &__dropdown {
    padding: 1vw 2vw;
    border: 1px solid var(--color-gray-100);
    border-radius: rem(14);
    font-weight: 400;
    font-weight: 400;
    font-size: 1.2vw;
    color: var(--color-black);
    width: 279px;
    font-family: var(--font-family-accent);

    @include tablet {
      padding: 1rem 2rem;
      font-size: rem(20);
    }

    @include hover {
      border: 1px solid var(--color-blue);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1px solid var(--color-blue);
    }

    .dropdown__toggle {
      justify-content: space-between;
    }

    @include mobile {
      order: 1;
      width: 100%;


    }

    @include tablet {
      padding-bottom: -8px;
    }
  }

  &__slider-container {
    display: flex;
    flex-direction: column;
    gap: rem(32);

    @include mobile {
      order: 2;
      gap: rem(16);
    }
  }

  &__splide {

    &--top,
    &--bottom {
      flex: 1;
    }

    &--bottom {
      @include tablet {
        display: none;
      }
    }

    &-slide {
      display: flex;
      flex-direction: column;

      @include mobile {
        transition: opacity 0.3s ease;

        &:not(.is-active) {
          opacity: 0.5 !important;
        }

        &.is-active {
          opacity: 1 !important;
        }
      }
    }
  }

  &__button {
    height: rem(55);

    @include mobile {
      width: 100%;
    }

    &--arrow {
      min-width: rem(55);
      aspect-ratio: 1;
    }

    &-wrapper {
      @include mobile {
        order: 3;
      }
    }
  }
}
