@use "../helpers" as *;

.cases {
  &__inner {
    padding-bottom: 140rem;
    padding-inline: 40rem;
    display: flex;
    flex-direction: column;
    row-gap: 48rem;


    @include tablet {
      padding-block: 40rem;
      row-gap: 32rem;
      padding-inline: 20rem;
    }
  }

  &__header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-end;

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__title{
    position: relative;
    font-size: 50rem;
    font-weight: 600;
    line-height: 120%;

    @include mobile-s{
      font-size: 44rem;
    }

    &:after{
      content: "";
      position: absolute;
      background: url("/static/pages/images/cases/icon.webp") center center no-repeat;
      width: 109rem;
      height: 109rem;
      background-size: contain;
      right: -109rem;
      top: 50%;
      transform: translateY(-50%);

      @include mobile {
        display: none;
      }
    }
  }

  &__subtitle{
    width: 50%;
    font-size: 24rem;
    font-weight: 400;
    color: var(--color-gray-200);

    @include mobile {
      width: 100%;
    }

    span{
      color: var(--color-black);
    }
  }

  &__img{
    border-radius: 24rem;
    overflow: hidden;

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__stats{
    background: var(--color-black) url("/static/pages/images/cta-request/background.webp") center center no-repeat;
    background-size: cover;
    border-radius: 24rem;
    display: flex;
    flex-direction: column;
    padding: 32rem;
    justify-content: space-between;
    align-items: flex-start;
    color: var(--color-white);
    gap: 24rem;
    position: relative;

    &-img{
      position: absolute;
      width: 109rem;
      height: 109rem;
      right: -56rem;
      top: 50%;
      transform: translateY(-50%);

      @include laptop{
        right: 0;
      }

      @include tablet {
        display: none;
      }
    }

    &-header{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

    }

    &-title{
      font-size: 48rem;
      line-height: 100%;
      color: var(--color-white);
    }

    &-subtitle{
      font-size: 20rem;
      color: var( --color-gray-100);
    }

    &-tag{
      padding: 8rem 20rem;
      background: var(--color-white);
      color: var(--color-blue);
      text-transform: uppercase;
      font-size: 16rem;
      line-height: 100%;
      border-radius: 150rem;
    }
  }

  &__grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14rem;
    position: relative;

    &:after{
      content: "";
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.628151) 37.79%, rgba(255, 255, 255, 0.933395) 72.78%, #FFFFFF 100%);
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 200rem;
    }
  }

  &__button{
    width: 20%;
    position: relative;
    z-index: 100;

    @include tablet {
      width: 50%;
    }

    @include mobile {
      width: 70%;
    }
  }

  &__row{
    &:nth-child(1){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 14rem;

      @include laptop{
        grid-template-columns: repeat(2, 1fr);

        .cases__item{
          height: 560rem;
        }

        .cases__item:last-child{
          grid-column: 1/-1;
        }
      }

      @include mobile-m{
        .cases__item{
          grid-column: 1/-1;
        }
      }

      .cases__item{
        max-height: 560rem;
        &:first-child{
          display: flex;
          flex-direction: column;
          gap: 14rem;

        }

        &:nth-child(2){
          .cases__img{
            height: 100%;
          }
        }

        &:last-child{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 14rem;

          .cases__img:last-child{
            grid-column: span 2 / span 2;
          }
        }
      }
    }

    &:nth-child(2){
      display: grid;
      grid-template-columns: 1fr 3fr 1fr;
      gap: 14rem;
      max-height: 331rem;

      @include laptop{
        grid-template-columns: repeat(2, 1fr);
        max-height: fit-content;

        .cases__item:last-child{
          grid-column: 1/-1;
        }

        .cases__item .cases__img{
          max-height: 250rem;
        }
      }

      @include mobile-m{
        .cases__item{
          grid-column: 1/-1;
        }
      }

      .cases__item .cases__img{
        max-height: 331rem;
      }

      .cases__item:nth-child(2) .cases__img img{
        object-position: center;
      }
    }

    &:nth-child(3){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 14rem;

      @include laptop{
        grid-template-columns: repeat(2, 1fr);

        .cases__item{
          max-height: 600rem;
        }

        .cases__item:last-child{
          grid-column: 1/-1;
        }
      }

      @include mobile-m{
        .cases__item{
          grid-column: 1/-1;
        }
      }

      .cases__item {
        max-height: 560rem;

        &:first-child {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 14rem;

          .cases__img:last-child{
            grid-column: span 2 / span 2;
          }
        }

        &:nth-child(2){
          display: flex;
          flex-direction: column;
          gap: 14rem;
        }

        &:last-child{
          .cases__img{
            height: 100%;
          }
        }
      }
    }

    &:nth-child(4){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 14rem;

      @include laptop{
        grid-template-columns: repeat(2, 1fr);

        .cases__item{
          max-height: 600rem;
        }

        .cases__item:last-child{
          grid-column: 1/-1;
        }
      }

      @include mobile-m{
        .cases__item{
          grid-column: 1/-1;
        }
      }


      .cases__item{
        max-height: 560rem;
        &:first-child{
          display: flex;
          flex-direction: column;
          gap: 14rem;

        }

        &:nth-child(2){
          .cases__img{
            height: 100%;
          }
        }

        &:last-child{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-template-rows: repeat(2, 1fr);
          gap: 14rem;

          .cases__img:last-child{
            grid-column: span 2 / span 2;
          }
        }
      }
    }
  }
}