@use "../helpers" as *;

.contacts {
  padding-inline: rem(40);

  @include tablet {
    padding-inline: rem(16);
  }

  &__header {
    margin-top: rem(40);
    margin-bottom: rem(12);
    font-size: 3.2vw;
    line-height: 0.8;
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 600;

    @include tablet {
      font-size: rem(36);
    }
  }

  &__description {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 1.5vw;
    margin-bottom: rem(52);
  }

  &__main {
    display: flex;
    gap: rem(24);
    margin-bottom: rem(24);
    margin-top: rem(52);

    @include tablet {
      flex-direction: column-reverse;
      margin-bottom: rem(16);
      gap: rem(16);
    }

    &-first {
      margin-bottom: rem(32);

      @include tablet {
        margin-bottom: rem(20);
      }
    }
  }

  &__card {
    flex-grow: 1;
    border: 1px solid var(--color-gray-100);
    border-radius: rem(24);
    padding: rem(40);

    @include tablet {
      font-size: rem(20);
      padding: rem(20);
      border-radius: rem(16);
    }

    &-info {
      &-content {
        font-size: rem(20);
        font-weight: 500;

        @include tablet {
          font-size: rem(16);
        }
      }

      &-label {
        font-family: var(--font-family-accent);
        margin-bottom: rem(16);

        @include tablet {
          font-size: rem(14);
          margin-bottom: rem(20);
        }
      }
    }

    &-header {
      margin-bottom: rem(12);
      color: var(--color-black);

      @include tablet {
        margin-bottom: rem(6);
      }
    }

    &-company-details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: rem(16);

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mobile-m {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-socials {
      margin-top: rem(32);
    }
  }

  &__map {
    flex-basis: 60%;
    border-radius: rem(32);
    overflow: hidden;
    background: #eeeeee;

    @include tablet {
      min-height: rem(358);
      border-radius: rem(20);
    }
  }
}


.contacts__card-socials>.footer__socials-wrapper {
  padding: 0;
}
