@use "../helpers" as *;

.contacts {
  padding-inline: 40rem;

  @include tablet {
    padding-inline: 16rem;
  }

  &__header {
    margin-top: 40rem;
    margin-bottom: 12rem;
    font-size: 70rem;
    line-height: 0.8;
    text-transform: uppercase;
    color: var(--color-black);
    font-weight: 600;

    @include tablet {
      font-size:36rem;
    }
  }

  &__description {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 24rem;
    margin-bottom: 52rem;
  }

  &__main {
    display: flex;
    gap: 24rem;
    margin-bottom: 24rem;
    margin-top: 52rem;

    @include tablet {
      flex-direction: column-reverse;
      margin-bottom: 16rem;
      gap: 16rem;
    }

    &-first {
      margin-bottom: 32rem;

      @include tablet {
        margin-bottom: 20rem;
      }
    }
  }

  &__card {
    flex-grow: 1;
    border: 1px solid var(--color-gray-100);
    border-radius: 24rem;
    padding:40rem;

    @include tablet {
      font-size: 20rem;
      padding: 20rem;
      border-radius: 16rem;
    }

    &-info {
      &-content {
        font-size: 20rem;
        font-weight: 500;

        @include tablet {
          font-size: 16rem;
        }
      }

      &-label {
        font-family: var(--font-family-accent);
        margin-bottom: 16rem;
        font-size: 16rem;

        @include tablet {
          font-size: 14rem;
          margin-bottom: 20rem;
        }
      }
    }

    &-header {
      margin-bottom: 12rem;
      color: var(--color-black);

      @include tablet {
        margin-bottom: 6rem;
      }
    }

    &-company-details {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 16rem;

      @include mobile {
        grid-template-columns: repeat(2, 1fr);
      }

      @include mobile-m {
        grid-template-columns: repeat(1, 1fr);
      }
    }

    &-socials {
      margin-top: 32rem;
    }
  }

  &__map {
    flex-basis: 60%;
    border-radius: 32rem;
    overflow: hidden;
    background: #eeeeee;

    @include tablet {
      min-height: 358rem;
      border-radius: 20rem;
    }
  }
}


.contacts__card-socials>.footer__socials-wrapper {
  padding: 0;
}
