@use "../helpers" as *;

.cta-request {
  padding: rem(70) rem(16);

  @include tablet{
    padding: rem(40) 0;
  }

  &__wrapper{
    background: var(--color-blue) url("images/cta-request/background.png") 0 0/cover no-repeat;
    border-radius: rem(40);

    @include tablet{
      background: var(--color-blue) url("images/cta-request/background-m.png") 0 0/cover no-repeat;
    }
  }

  &__inner{
    padding-block: rem(70);
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet{
      align-items: flex-start;
      flex-direction: column;
      row-gap: rem(60);
    }
  }

  &__header{
    font-weight: 600;
    font-size: rem(80);
    text-transform: uppercase;
    color: var(--color-white);
    line-height: normal;

    @include laptop{
     font-size: rem(54);
    }

    @include tablet{
      font-size: rem(72);
    }

    @include mobile{
      font-size: rem(40);
    }
  }

  &__action{
    display: flex;
    flex-direction: column;
    row-gap: rem(24);

    @include tablet{
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    @include mobile{
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__button{
    font-size: rem(24);
    line-height: rem(17);
    padding: rem(19) 0;
    width: rem(399);

    @include mobile{
      width: 100%;
    }
  }

  &__contacts{
    display: flex;
    column-gap: rem(12);
    justify-content: right;

    @include mobile{
      column-gap: rem(32);
    }

    &-item{
      display: flex;
      justify-content: center;
      background-color: var(--color-white);
      border-radius: 100%;
      width: rem(50);
      height: rem(50);

      @include hover{
        background-color: var(--color-gray-100);
      }
    }
  }
}