@use "../helpers" as *;

.cta {
  background: url("/static/pages/images/cta/background.png") 0 0 / cover no-repeat;

  @include tablet {
    background: none;
    background-color: rgb(242, 246, 250);
    border-radius: rem(32);

  }

  &__inner {
    padding-inline: 5vw;
    padding-top: rem(70);
    padding-bottom: rem(90);
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    @include tablet {
      flex-direction: column;
      padding-top: 0;
      padding-bottom: rem(20);

      gap: rem(25);


      &.container {
        padding-inline: 0;
      }
    }

    @include mobile {
      padding-inline: 0;
    }
  }

  &__socials-logo {
    width: 3vw;
    height: 3vw;

    @include tablet {
      width: 40px;
      height: 40px;
    }
  }



  &__main {
    width: 82%;
    display: flex;
    flex-direction: column;
    gap: rem(67);

    @include tablet {
      background: url("/static/pages/images/cta/background-m.png") 0 0 / cover no-repeat;
      width: 100%;
      padding-inline: rem(20);
      row-gap: rem(40);
      padding-block: rem(40);
      border-radius: rem(32);
    }

    @include mobile {
      padding-inline: 16px;
    }
  }

  &__title {
    color: var(--color-white);
    text-align: left;
  }

  &__header {
    font-weight: 600;
    font-size: 3vw;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    margin-bottom: rem(24);
    max-width: 80%;

    @include laptop {
      font-size: rem(40);
    }

    @include tablet {
      max-width: 100%;
      font-size: rem(36);
      line-height: normal;
      letter-spacing: normal;
    }
  }

  &__subheader {
    font-weight: 400;
    font-size: 1.5vw;
    font-family: var(--font-family-accent);
    color: var(--color-white);

    @include tablet {
      font-size: rem(20);
    }
  }


  &__socials {
    &-title {
      font-weight: 400;
      font-size: 1.5vw;
      font-family: var(--font-family-accent);
      color: var(--color-gray-100);
      margin-bottom: 1.5vw;
      max-width: 80%;

      @include tablet {
        max-width: 100%;
        font-size: rem(20);
        margin-bottom: 20px;
      }
    }

    &-logo {
      @include mobile {
        width: 40px;
        height: 40px;
      }
    }

    &-wrapper {
      display: flex;
      column-gap: rem(28);

      @include mobile {
        column-gap: rem(24);
      }
    }
  }

  &__form {
    max-width: 42vw;
    background-color: var(--color-white);
    padding: rem(40);
    border: 1px solid var(--color-blue);
    border-radius: rem(20);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1vw;

    height: 100%;
    position: relative;
    z-index: 10;


    @include laptop {
      row-gap: rem(24);
    }

    @include tablet {
      max-width: 100%;
      width: 100%;
      position: relative;
      top: rem(15);
      padding: rem(32) rem(16);
      padding-top: 0;
      border: none;
      background-color: rgb(242, 246, 250);
      border-radius: 32px;
    }





    &-title {
      font-weight: 600;
      font-size: 2vw;
      letter-spacing: -0.03em;
      text-transform: uppercase;
      color: var(--color-black);
      text-align: left;

      @include tablet {
        font-size: 2rem;
      }

      @include mobile {
        font-size: 1.5rem;
      }
    }
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 32px;




    @include laptop {
      min-width: 100%;
      gap: rem(16)
    }

    @include tablet {
      gap: rem(24)
    }

    @include mobile {
      gap: 12px;
    }

    .faq__cell-input,
    .faq__cell-input--long {
      border: none;
      border-bottom: 1px solid rgb(223, 223, 223);
      border-radius: 0;

      @include hover {
        transition-duration: var(--transition-duration);
        border: none;
        border-bottom: 1px solid var(--color-blue);
      }

      &:focus {
        outline: none;
      }

      &:focus-visible {
        border: none;
        border-bottom: 1px solid var(--color-blue);
      }

      @include tablet {
        border-radius: 8px !important;
        border: none;

        @include hover {
          border: none;
          outline: 1px solid var(--color-blue);
        }

        &:focus {
          border: none;
          outline: none;
        }

        &:focus-visible {
          outline: 1px solid var(--color-blue);
        }

      }
    }

    .faq__cell-input--long {
      height: 40px;

      @include tablet {
        height: 100px;
      }
    }

  }

  &__action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    @include laptop {
      flex-direction: column;
    }
  }

  &__cell {
    border-bottom: 1px solid var(--color-gray-100);

    &--long {
      width: 100%;
    }



    @include laptop {
      width: 100%;
    }

    &-input {
      border: none;
      width: rem(285);
      height: rem(40);
      display: flex;
      align-items: center;

      &:focus-visible {
        outline: none;
        background-color: var(--color-gray-50);
      }

      &::placeholder {
        font-size: rem(18);

        @include mobile {
          font-size: rem(16);
        }
      }

      &--long {
        width: 100% !important;
      }

      @include laptop {
        width: 100%;
      }

    }
  }

  &__price {
    font-weight: 500;
    font-size: rem(24);
    text-transform: uppercase;
    color: var(--color-black);
    text-wrap: nowrap;
  }

  &__policy {
    display: flex;
    align-items: center;
    gap: rem(12);

    @include mobile {
      align-items: flex-start;
    }
  }

  &__button {
    width: 100%;
    text-wrap: nowrap;

    @include tablet {
      line-height: rem(17);
      padding-block: rem(19);
    }
  }

}

.decorative-lines {
  @include tablet {
    display: none !important;
  }
}

.tablet {
  display: none;

  @include tablet {
    display: block;
  }
}
