@use "../helpers" as *;

.cta-request {
  padding: rem(60) 0;

  @include tablet {
    padding: rem(40) 0;
  }

  &__wrapper {
    border-radius: rem(40);
    background: rgb(42, 42, 42);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;

    @include tablet {}
  }

  &__inner {
    padding-block: rem(80);
    padding-inline: 5.6vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("/static/pages/images/cta-request/background.png") 0 0 / cover no-repeat;

    @include tablet {
      padding: 60px;
      align-items: flex-start;
      flex-direction: column;
      row-gap: rem(60);
    }

    @include mobile {
      padding-inline: 16px;
    }
  }

  &__header {
    font-weight: 600;
    font-size: 5vw;
    text-transform: uppercase;
    color: var(--color-white);
    line-height: normal;

    @include laptop {
      font-size: rem(54);
    }

    @include tablet {
      font-size: rem(72);
    }

    @include mobile {
      font-size: rem(40);
    }
  }

  &__action {
    display: flex;
    flex-direction: column;
    row-gap: 1.5vw;

    @include tablet {
      row-gap: 20px;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
    }

    @include mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &__button {
    padding-inline: 6vw;
    background-color: rgb(0, 96, 223);
    color: var(--color-white);
    text-wrap: nowrap;
    flex-shrink: 0;

    @include mobile {
      padding-inline: rem(40);
      width: 100%;
    }
  }

  &__contacts {
    display: flex;
    column-gap: rem(32);
    justify-content: flex-end;
    width: 100%;

    @include mobile {
      justify-content: flex-start;
      column-gap: rem(32);
    }

    &-item {
      display: flex;
      justify-content: center;
      width: 3vw;
      height: 3vw;

      @include tablet {
        width: 40px;
        height: 40px;
      }

      @include hover {}
    }
  }
}
