@use "../helpers" as *;

.extra-services-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(30);
  padding: rem(28) rem(20);
  border-radius: 20px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: #f5f8fc;

    .extra-services-card__button-icon {
      transform: rotate(45deg);
      background-color: var(--color-blue);

      path {
        stroke: white;
      }
    }
  }
}

.extra-services-card__header {
  color: var(--color-black);
  font-size: rem(32);
  font-weight: 500;
  margin-bottom: rem(4);
}

.extra-services-card__description {
  font-size: rem(20);
}

.extra-services-card__button {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  gap: rem(16);
}

.extra-services-card__button-text {
  flex-shrink: 0;
  flex-wrap: nowrap;
  color: var(--color-blue);
  text-transform: uppercase;
  font-size: rem(20);
  font-weight: 500;
}

.extra-services-card__button-icon {
  flex-shrink: 0;
  padding: rem(8);
  border-radius: 50%;
  background-color: #0060DF1A;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

  path {
    stroke: var(--color-blue);
    transition: stroke 0.2s ease-in-out;
  }
}
