@use "../helpers" as *;

.extra-services {
  padding-inline: rem(40);
  padding-bottom: rem(60);
  border-bottom: 1px solid #DFDFDF;

  @include tablet {
    padding-inline: rem(16);
    padding-bottom: rem(50);
    margin-top: rem(16);
  }
}

.extra-services__header {
  color: var(--color-black);
  font-size: fluid(50, 28) !important;
}
