@use "../helpers" as *;

.extra-services-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30rem;
  padding: 28rem 20rem;
  border-radius: 20rem;
  transition: background-color 0.2s ease-in-out;

  @include tablet {
    gap: 8rem;
  }

  &:hover {
    background-color: #f5f8fc;
  }

  &__header {
    color: var(--color-black);
    font-size: 32rem;
    font-weight: 500;
    margin-bottom: 4rem;

    @include tablet {
      font-size: 24rem;
    }
  }

  &__description {
    font-size: 20rem;

    @include tablet {
      font-size: 14rem;
    }
  }

  &__button {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 16rem;
  }

  &__button-text {
    flex-shrink: 0;
    flex-wrap: nowrap;
    color: var(--color-blue);
    text-transform: uppercase;
    font-size: 20rem;
    font-weight: 500;

    @include tablet {
      display: none;
    }
  }

  &__button-icon {
    flex-shrink: 0;
    padding: 8rem;
    border-radius: 50%;
    background-color: #0060DF1A;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    width: 60rem;
    height: 60rem;

    path {
      stroke: var(--color-blue);
      transition: stroke 0.2s ease-in-out;
    }

    @include tablet {
      width: 48rem;
      height: 48rem;
    }
  }

  &:hover &__button-icon {
    transform: rotate(45deg);
    background-color: var(--color-blue-hover);

    path {
      stroke: white;
    }
  }
}
