@use "../helpers" as *;

.faq {
  padding-top: 100rem;
  padding-bottom: 100rem;
  margin-bottom: -25rem;

  @include tablet {
    padding: 60rem 0;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 32rem;
    padding-inline: 40rem;

    @include tablet {
      flex-direction: column;
      padding-inline: 20rem;

      &.container {
        padding-inline: 0;
      }
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    width: 49%;
    gap: 40rem;


    @include tablet {
      width: 100%;
      display: contents;
    }
  }

  .decorative-lines {
    display: inline-flex !important;
  }

  &__title {
    display: flex;
    flex-direction: column;
    line-height: normal;
    gap: 32rem;
    width: 80%;
    color: var(--color-black);


    @include tablet {
      width: 100%;
      gap: 24rem;
      order: 1;
      margin-bottom: 32rem;
      padding-inline: 20rem;
    }
  }

  &__header {
    @include tablet {
      font-size: 40rem;
    }
  }

  &__subheader {
    color: var(--color-gray-300);
    font-size: 24rem;

  }

  &__socials-wrapper {
    display: flex;
    gap: 24rem;

    @include tablet {
      order: 2;
      padding-inline: 20rem;
      margin-bottom: 32rem;
    }
  }

  &__form-wrapper {
    position: relative;

    @include tablet {
      order: 4;
      padding-inline: 0;
    }

  }

  &__form {
    position: relative;
    z-index: 100;
    border-radius: 20rem;
    padding: 40rem;
    background-color: #F5F8FC;
    opacity: 1;
    width: 100%;

    @include laptop {
      padding: 16rem
    }

    @include tablet {
      gap: 20rem;
      max-height: 100%;
    }

    &-title {
      font-size: 32rem;
      margin-bottom:30rem;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &__fields {
    display: flex;
    gap: 16rem;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 24rem;

    @include laptop {
      width: auto;
      margin-bottom: 24rem;
    }

    @include tablet {
      justify-content: flex-start;
    }

    @include mobile-s {
      justify-content: space-between;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16rem;
    width: 100%;
  }

  &__row.long {
    grid-template-columns: 1fr;
    height: 100rem;
  }

  &__cell {
    width: 100%;

    @include mobile-s {
      &:nth-child(5) {
        width: 100% !important;
      }
    }

    &--long {
      width: 100%;
      height: 100%;
    }
  }

  &__cell-input {
    width: 100%;
    height: 44rem;
    border-radius: 8rem;
    padding: 16rem 16rem;
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 18rem;
    border: 1rem solid transparent;

    @include tablet {
      height: 40rem;
      font-size: 18rem;
      padding: 8rem 12rem;
    }

    @include mobile {
      font-size: 16rem;
    }

    @include hover {
      transition-duration: var(--transition-duration);
      border: 1rem solid var(--color-blue);
    }

    &:focus {
      outline: none;
    }

    &:focus-visible {
      outline: 1rem solid var(--color-blue);
    }

    &::placeholder {
      font-weight: 400;
      font-size: 18rem;
      color: var(--color-gray-250);

      @include mobile {
        font-size: 18rem;
      }
    }

    .dropdown__toggle {
      .dropdown__label {
        color: var(--color-gray-250);
      }
    }

    &--long {
      @extend .faq__cell-input;
      width: 100%;
      height: 100%;
    }

    &--textarea{
      resize: none;
      height: 80rem;
    }
  }


  &__action {
    display: flex;
    align-items: center;
    gap: 20rem;

    @include tablet {
      flex-direction: column;
      gap: 24rem;
    }
  }

  &__button {
    text-wrap: nowrap;
    width: 100%;

    @include mobile {
      width: 100%;
    }
  }

  &__price {
    font-weight: 500;
    font-size: 20rem;
    text-transform: uppercase;
    color: var(--color-black);
  }

  &__questions {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24rem;


    @include tablet {
      width: 100%;
      margin-bottom: 32rem;
      order: 3;
      gap: 16rem;
    }
  }

  &__item {
    border-bottom: 1rem solid var(--color-gray-200);
    padding: 0;

    &.is-open {
      .faq__collapse {
        max-height: 1000px;
      }

      .faq__content {
        opacity: 1;
        transform: translateY(0);
      }

      .faq__icon {

        &::before {
          transform: translate(-50%, -50%) rotate(90deg);
          opacity: 0;
        }

        &::after {
          transform: translate(-50%, -50%) rotate(0deg);
          background-color: var(--color-blue);
        }
      }

      .faq__legend {
        color: var(--color-blue);
        padding-bottom: 16rem;

        &::after {
          opacity: 1;
        }
      }


    }

    &:last-child {
      border-bottom: none;
    }
  }

  &__legend {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16rem;
    width: 100%;
    padding: 16rem 0 24rem 0;
    background: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    font-weight: 500;
    font-size: 24rem;
    text-transform: uppercase;
    color: var(--color-black);
    text-align: left;
    transition: color 0.3s ease, padding 0.3s ease;

    @include tablet {
      font-size: 22rem;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1rem;
      background-color: var(--color-blue);
      opacity: 0;
      transition: opacity 0.3s ease;
    }
  }

  &__icon {
    position: relative;
    flex-shrink: 0;
    width: 14rem;
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &::before,
    &::after {
      content: '';
      position: absolute;
      background-color: var(--color-black);
      transition: transform 0.3s ease, opacity 0.3s ease;
      border-radius: 5rem;
    }

    &::before {
      width: 2rem;
      height: 14rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }

    &::after {
      width: 14rem;
      height: 2rem;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__collapse {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  &__content {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 18rem;
    padding: 24rem 0 24rem 0;
    margin: 0;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.2s ease 0.1s, transform 0.4s ease 0.1s;

    @include tablet {
      font-size: 18rem;
    }
  }
}


.faq__socials-logo {
  width: 44rem;
  height: 44rem;

  @include mobile {
    width: 40px;
    height: 40px;
  }
}
