@use "../helpers" as *;

.footer {
  border-radius: 40px 40px 0px 0px;
  background: rgb(42, 42, 42);
  position: relative;

  @include mobile{
    border-radius: 32px 32px 0px 0px;
  }

  &__inner {
    padding: rem(60) rem(40) rem(40) rem(40);
    margin: 0;
    width: 100%;
    isolation: isolate;

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: url('/static/pages/back.png') 0 0 / cover no-repeat;
      z-index: -1;
      pointer-events: none;
      border-radius: 40px 40px 0px 0px;

      @include mobile {
        background: url('/static/pages/back.png') 0 0 / cover no-repeat;
      }


    }

    @include mobile {

      padding: rem(40) rem(16) rem(16) rem(16);
    }
  }

  &__body {
    display: flex;
    justify-content: space-between;
    padding-bottom: rem(40);


    @include tablet {
      flex-direction: column;
      gap: rem(32);
    }
  }

  &__info {
    font-family: var(--font-family-accent);
    font-size: 1.5vw;
    color: var(--color-gray-200);
    max-width: 40%;
    display: flex;
    flex-direction: column;
    gap: rem(30);

    @include tablet {
      max-width: 100%;
    }

    a .footer__logo {
      width: 18vw;

      @include tablet {
        width: 170px;
      }
    }
  }

  &__title {
    font-size: 1.3vw;
    color: rgb(223, 223, 223);


    @include laptop {
      font-size: rem(20);
    }

    @include mobile {
      font-size: rem(16);
    }
  }

  &__socials-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: rem(16);
    padding: 0.75vw 1.10vw;
    background: rgba(255, 255, 255, 0.04);
    border: 1px solid rgba(255, 255, 255, 0.06);
    border-radius: 12px;
    margin-top: auto;
    align-items: center;

    @include tablet {
      padding: rem(10);
    }

  }



  &__socials-logo {
    flex-shrink: 0;

    @include mobile {
      width: 32px;
      height: 32px;
    }
  }

  &__inst-text {
    color: rgb(128, 128, 128);
    font-family: var(--font-family-accent);
    font-size: fluid(18, 14);
    font-weight: 400;
  }



  &__list-wrapper {
    //width: 30%;

    @include mobile {
      width: 49%;
    }
  }

  &__review {
    display: flex;
    gap: rem(10);
    margin-top: rem(20);
    overflow: hidden;

    @include tablet {
      width: 100%;
      margin-top: rem(16);
    }

    .splide {
      width: 100%;

      &__track {
        overflow: visible;
      }

      &__list {
        display: flex;
        gap: rem(10);
      }

      &__slide {
        width: auto !important;
        flex-shrink: 0;
      }
    }

    &__review-button {
      align-items: center;
      display: flex;
      gap: rem(10);
      padding: rem(14) rem(20);
      border: 1px solid rgba(255, 255, 255, 0.06);
      border-radius: 14px;
      background: rgba(255, 255, 255, 0.04);
      flex-shrink: 0;
      transition: background-color 0.3s ease;

      @media (max-width: 1130px) {
        padding: rem(10) rem(14);
        gap: rem(6);
      }

      svg {
        flex-shrink: 0;
      }

      &:hover {
        background: rgba(255, 255, 255, 0.08);
      }

      span {
        color: rgb(255, 255, 255);
        font-family: TT Firs Neue;
        font-size: 1.3vw;
        font-weight: 500;

        @include tablet {
          font-size: rem(20);
        }

        @include mobile {
          font-size: rem(14);
        }
      }

      @include tablet {
        width: 100%;
        justify-content: center;
      }

      @include mobile {
        padding: 12px;
      }
    }

    &-logo {
      margin-right: 8px;
      width: fluid(32, 28);
      height:  fluid(32, 28);
    }
  }

  &__nav {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    gap: rem(20) rem(40);
    width: 45%;
    margin-right: 5%;

    @media (max-width: 1400px) {
      width: 46vw;
    }

    @include laptop {
      gap: rem(40);
    }

    @include tablet {
      margin-right: 0;
      width: 100%;
      justify-content: space-between;
      row-gap: rem(24);
      column-gap: 2%;
    }


    @include mobile {
      justify-content: space-between;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: rem(24);
    font-weight: 400;
    font-size: 1.2vw;
    color: var(--color-black);


    &-title {
      text-wrap: nowrap;
      color: rgb(109, 170, 225);
      margin-bottom: rem(16);

      @include mobile {
        font-size: rem(18);
      }
    }

    &-item {
      text-wrap: nowrap;
      font-size: 1vw;
      display: flex;
      align-items: center;
      gap: rem(8);
      color: var(--color-white);

      @include tablet {
        font-size: rem(18);
        text-wrap: wrap;
      }

      @include mobile {
        font-size: rem(18);
      }

      a {
        text-decoration: none;
      }
    }
  }

  &__socials-logo {
    width: 2.3vw;
    height: 2.3vw;

    @include tablet {
      width: 40px;
      height: 40px;
    }

    @include mobile {
      width: 32px;
      height: 32px;
    }
  }

  &__extra {
    &-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-family: var(--font-family-accent);
      font-size: 1.1vw;
      color: rgb(128, 128, 128);
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      padding-top: rem(40);

      @include laptop {
        font-size: rem(18);
      }

      @include tablet {
        padding-top: rem(32);
        padding-bottom: rem(27);
      }

      @include mobile {
        align-items: flex-start;
        flex-direction: column;
        gap: rem(24);
        font-size: rem(14);

      }
    }

  }
}


.footer__socials-wrapper.tablet {
  display: none;

  @include tablet {
    display: flex;
  }
}
