@use "../helpers" as *;

.header {
  font-family: var(--font-family-accent);
  position: sticky;
  z-index: 200;
  top: 0;
  transition: transform 0.3s ease-in-out;
  background-color: var(--color-white);

  &__logo {
    flex-shrink: 0;
    width: 16vw;

    @include tablet {
      width: 170px;
    }

  }

  &__contacts-logo {
    width: 2vw;

    @include tablet {
      width: 40px;
      height: 40px;
    }
  }

  &.nav-up {
    transform: translateY(-100%);
  }

  &__body {
    &-inner {
      display: flex;
      padding-block: 1vw;
      padding-inline: 40px;
      //gap: rem(80);
      justify-content: space-between;
      align-items: center;
      border-radius: 12px;
      //background: rgb(242, 246, 250);

      @include tablet {
        padding: 20px;
      }

      @include mobile {
        padding-inline: 16px;
      }
    }
  }

  &__overlay {
    display: contents;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    @include burger {
      width: 100%;
      height: rem(420);
      background-color: var(--color-white);
      position: fixed;
      inset: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      margin-top: rem(65);
      padding: rem(40);
      padding-inline: rem(20);
      border-radius: 0 0 rem(20) rem(20);
      border: 1px solid #E5E5E5;

      &:not(.is-active) {
        @include hide;
        transform: translateY(-100%);
      }
    }
  }

  &__menu-link {
    font-family: Noah;
    font-size: 1.5vw;
    font-weight: 400;
    text-wrap: nowrap;

    @include tablet {
      font-size: 1.5rem;
    }
  }

  &__menu {
    //margin-right: auto;

    &-list {
      display: flex;
      column-gap: rem(40);
      font-size: rem(24);

      @include laptop {
        column-gap: rem(25);
      }

      @include tablet {
        column-gap: rem(18);
        font-size: rem(16);
      }

      @include burger {
        flex-direction: column;
        gap: rem(24);
        font-size: rem(24);
      }
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    column-gap: rem(24);

    @include tablet {
      column-gap: rem(12);
    }

    @include burger {
      justify-content: space-between;
      width: 100%;
      gap: rem(24);
    }

    @include mobile-s {
      gap: 1rem;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      column-gap: rem(24);
      flex-shrink: 0;

      @include mobile-s {
        gap: rem(18);
      }
    }


    &-link {
      font-size: 1.6vw;
      text-wrap: nowrap;

      @include tablet {
        font-size: rem(16);
      }

      @include burger {
        font-size: rem(24);
      }

      @include mobile-s {
        font-size: rem(18);
      }
    }
  }
}
