@use "../helpers" as *;

.hero {
  padding-top: 30rem;
  background-color: var(--color-white-bg);
  overflow-x: hidden;

  @include tablet {
    padding-top: 32rem;
  }

  &__inner{
    display: flex;
    flex-direction: column;
  }

  &__top{
    align-items: end;
    margin-bottom: 50rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    position: relative;

    @include mobile-m{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0;
      margin-bottom: 0;
    }
  }

  &__bottom{
    background-color: var(--color-white);
    padding: 52rem 40rem;
    border-radius: 60rem 60rem 0 0;
    display: flex;
    flex-direction: column;
    gap: 24rem;
    position: relative;
    margin-top: -50rem;

    @include tablet{
      padding: 16rem;
      border-radius: 36rem 36rem 0 0;
    }

    &-subtitle{
      font-size: 42rem;
      color: var(--color-black);
      text-transform: uppercase;
      text-align: center;

      @include tablet{
        display: none;
      }
    }
  }

  &__image{
    z-index: 0;
    width: 100% !important;

    @include tablet {
      max-width: 680rem !important;
    }

    @include mobile{
      max-width: 500rem !important;
    }

    @include mobile{
      right: -30rem;
    }

    @include mobile-m {
      position: relative;
      bottom: 0;
      right: auto;
    }

    img{
      width: 100%;
    }
  }

  &__subheader-wrapper{
    display: flex;
    flex-direction: column;
    gap: 12rem;
  }

  &__main {
    padding-left: 40rem;
    display: flex;
    flex-direction: column;
    gap: 50rem;
    min-width: 688rem;
    position: relative;
    z-index: 1;

    @include tablet {
      height: 100%;
      z-index: 190;
      min-width: 100%;
      padding-inline: 20rem;
    }

    @include mobile {
      padding-inline: 16rem;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 20rem;
    gap: 60rem;

    @include tablet {
      gap: 40rem;
    }
  }

  &__advantages{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12rem;

    @include mobile-m{
      grid-template-columns: repeat(1, 1fr);
    }

    &-card{
      padding: 40rem;
      background-color: var(--color-white-bg);
      border-radius: 20rem;
      display: flex;
      align-items: center;
      justify-content: space-between;

      @include tablet{
        padding: 30rem;
      }

      @include mobile{
        border-radius: 20rem;
        flex-direction: column;
        align-items: flex-start;
        padding: 24rem;
      }

      @include mobile-m {
        flex-direction: row;
      }

      &-left{
        display: flex;
        align-items: flex-end;

        h2{
          font-size: 80rem;
          color: var(--color-black);
          font-weight: 600;
          line-height: 1;

          @include tablet{
            font-size: 60rem;
          }
        }

        span{
          font-size: 16rem;
          font-weight: 400;
          color: rgba(42, 42, 42, 0.6);

        }
      }

      &-right{
        display: flex;
        flex-direction: column;
        gap: 12rem;
        align-items: flex-end;

        @include mobile{
          align-items: flex-start;
        }

        @include mobile-m {
          align-items: flex-end;
        }

        p{
          font-size: 16rem;
          margin-bottom: 0;
          font-weight: 400;

          @include mobile{
            font-size: 14rem;
          }
        }

        span{
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 12rem 16rem;
          background-color: var(--color-blue);
          border-radius: 150rem;
          text-transform: uppercase;
          font-size: 12rem;
          color: var(--color-white);

          @include tablet{
            padding: 6rem 12rem;
            font-size: 14rem;
          }

          @include mobile{
            font-size: 10rem;
          }

        }
      }
    }
  }

  &__header {
    font-size: 68rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: 12rem;
    line-height: normal;

    @include tablet {
      height: auto;
      font-size: 50rem;
    }

    @include mobile{
      font-size: 36rem;
    }
    @include mobile-s {
      font-size: 36rem;
    }

     &-print {
       .Typewriter__wrapper {
         background: linear-gradient(to right, #2A2A2A, #0060DF);
         color: transparent;
         -webkit-background-clip: text;
         background-clip: text;
         -webkit-text-fill-color: transparent;
       }
     }
  }

  &__subheader2 {
    color: var(--color-gray);
    font-size: 20rem;
    font-weight: 400;
    margin-bottom: 16rem;

    @include tablet {
      font-size: 16rem;
    }

    @include mobile {
      font-size: 14rem;
    }
  }

  &__subheader {
    margin-bottom: 24rem;
    font-size: 30rem;
    font-family: var(--font-family-accent);

    @include laptop{
      margin-bottom: 18rem;
      font-size: 22rem;
    }

    @include tablet{
      font-size: 20rem;
    }
  }

  &__review {
    display: flex;
    flex-wrap: wrap;
    gap: 32rem;

    @include tablet{
      gap: 12rem;
    }

    .review-button {
      justify-content: center;
      gap: 10rem;
      background-color: transparent;
      align-items: center;
      font-size: 22rem;

      @include hover{
        background-color: var(--color-white-bg-hover);
        color: var(--color-black);
      }

      @include tablet {
        padding: 5rem;
        font-size: 16rem;
      }

      @include mobile {
        border: none;
      }
    }

    &-logo {
      margin-right: 8rem;

      @media (max-width: 420rem) {
        margin-right: 4rem;
        width: 24rem;
        height: 24rem;
      }
    }
  }

  &__button {
    width: 100%;

    @include mobile-m {
      width: 100%;
    }

    &-wrapper {
      gap: 10rem;
      width: 100%;

      @include mobile-m {
        width: 100%;
      }
    }
  }
}