@use "../helpers" as *;

.hero {
  padding-block: 40rem;
  gap: 25rem;
  display: flex;
  align-items: start;
  width: 100%;
  position: relative;
  margin: 0 auto;

  @include tablet {
    flex-direction: column;
    left: 0;
    padding: 40rem 20rem;
    margin: 0;
  }

  @include tablet {
    padding: 0;
    padding-bottom: 90rem;
  }

  &__advantages {
    border-radius: 40rem;
    background: rgb(42, 42, 42);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 34rem 32rem;
    z-index: 180;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    color: var(--color-gray-300);
    background-image: url("/static/pages/images/hero/advantages-back.png");
    text-align: center;

    @include tablet {
      padding: 32rem 20rem;
    }

    @include mobile {
      border-radius: 20rem;
    }

    &-header {
      color: rgb(255, 255, 255);
      font-size: 42rem;
      font-weight: 600;
      text-transform: uppercase;
      margin-bottom: 24rem;

      @include tablet {
        font-size: 30rem
      }

      @include mobile {
        font-size: 28rem
      }
    }

    &-wrapper {
      display: flex;
      gap: 2%;
      margin-bottom: 60rem;

      @include mobile {
        flex-direction: column;
        gap: 26rem;
        margin-bottom: 2rem;
      }
    }

    &-links {
      justify-content: center;
      margin-top: 32rem;
    }

    &-mobile {
      padding-top: 32rem;
      padding-inline: 20rem;
      display: flex;
      flex-direction: column;
      row-gap: 8rem;
      width: 100%;
      height: 80%;
    }

    &-item {
      padding: 5rem;
      width: 32%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition-duration: var(--transition-duration);
      align-items: center;


      @include tablet {
        width: 100%;
        height: 100%;
      }
    }

    &-title {
      width: fit-content;
      font-size: 12rem;
      padding: 12rem 14rem;
      background: rgba(255, 255, 255, 0.3);
      border-radius: 150rem;
      color: var(--color-white);
      text-transform: uppercase;
      text-wrap: nowrap;

      @include tablet {
        padding: 8rem 12rem;
        font-size: 12rem;
      }

      @include mobile {
        padding: 12rem 20rem;
        font-size: 10rem;
      }
    }

    &-info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: column;
      margin-bottom: 16rem;
    }

    &-value {
      font-size: 15rem;
      color: rgba(255, 255, 255, 0.6);
      line-height: 1;

      @include tablet {
        font-size: 18rem;
      }

      span {
        font-size: 60rem;
        font-weight: 600;
        color: white;

        @include tablet {
          font-size: 40rem;
          font-weight: 500;
        }
      }
    }

    &-label {
      font-size: 16rem;
      color: white;

      @include tablet {
        font-size: 18rem;
      }
    }
  }

  &__splide {
    position: sticky !important;
    top: 65rem;
    width: 100%;
    max-width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;

    @include tablet {
      padding: 0 20rem;
      height: 100% !important;
    }

    &__list {
      display: flex;
      align-items: flex-end;
      overflow: hidden;
      height: 100%;
    }

    &-track {
      overflow: hidden;
      position: relative;
      height: 100%;
    }

    &-slide {
      width: 45%;

      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: flex-end;

      z-index: 1;

      @include laptop {
        width: 45%;
      }

      @include tablet {
        width: 70%;

      }


      .hero__splide-slide-inner {
        width: 100%;
        height: 100%;
        transform: scale(0.858);
        transform-origin: bottom center;
        transition: transform 0.3s cubic-bezier(0.65, 0, 0.35, 1),
          opacity 0.3s ease-in-out;
        will-change: transform, opacity;

        @include mobile {
          transform: scale(1);
        }

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 20rem;
        }
      }

      &.is-active {
        z-index: 2;

        .hero__splide-slide-inner {
          transform: scale(1);
          opacity: 1;
        }
      }
    }
  }

  &__main {
    padding-left: 40rem;
    display: flex;
    flex-direction: column;
    gap: 50rem;
    min-width: 722rem;
    position: relative;

    @include laptop {}

    @include tablet {
      height: 100%;
      z-index: 190;
      min-width: 100%;
      padding-inline: 20rem;
    }

    @include mobile {
      padding-inline: 16rem;
    }

    &-mobile {
      width: 100%;
    }

    &-slide {
      width: 1444rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    border-radius: 20rem;
    padding-top: 28rem;

    @include container {}

    @include tablet {
      padding-inline: 0;
      width: 100%;
      height: 100%;
      gap: 0;
      justify-content: space-between;
      padding-top: 32rem;
      padding-bottom: 20rem;
      position: relative;
      z-index: 2;
    }

    @include mobile {
      padding-bottom: 0;
      background: none;
    }

  }

  &__header {
    font-size: 44rem;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--color-black);
    margin-bottom: 12rem;
    line-height: normal;

    @include laptop{
      font-size: 40rem;
    }

    @include tablet {
      height: auto;
      font-size: 55rem;
    }

    @include mobile-m{
      font-size: 32rem;
    }

    @include mobile-s {
      font-size: 27rem;
    }

     &-print {
       .Typewriter__wrapper {
         background: linear-gradient(to right, #2A2A2A, #0060DF);
         color: transparent;
         -webkit-background-clip: text;
         background-clip: text;
         -webkit-text-fill-color: transparent;
       }
     }
  }

  &__subheader2 {
    color: var(--color-gray);
    font-size: 20rem;
    font-weight: 400;
    margin-bottom: 16rem;

    //@media (max-width: 1850px) {
    //  font-size: rem(24);
    //}

    @include tablet {
      font-size: 16rem;
    }

    @include mobile {
      font-size: 14rem;
    }
  }

  &__subheader {
    margin-bottom: 44rem;
    font-size: 30rem;
    font-family: var(--font-family-accent);

    //@media (max-width: 1850px) {
    //  font-size: rem(16);
    //  margin-bottom: rem(50);
    //}


    @include tablet {

      font-size: 32rem;
      margin-bottom: 40rem;
    }

    @include mobile {
      font-size: 20rem;
    }
  }

  &__review {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 45rem;

    .review-button {
      width: 32%;
      padding: 21rem 60rem;
      justify-content: center;
      align-items: center;
      font-size: 22rem;
      background: var(--color-white-bg);

      @include hover{
        background-color: var(--color-white-bg-hover);
        color: var(--color-black);
      }

      @include tablet {
        padding: 20rem 40rem;
        font-size: 22rem;
        width: 20%;
      }

      @include mobile-m {
        font-size: 16rem;
        width: 32%;
        padding: 10rem 20rem;
      }
    }

    @include tablet {
      margin-bottom: 40rem;
    }

    &-logo {
      margin-right: 8rem;

      @media (max-width: 420rem) {
        margin-right: 4rem;
        width: 24rem;
        height: 24rem;
      }
    }
  }

  &__button {
    &--adv{
      @include mobile-s{
        font-size: 14rem !important;
      }
    }

    &-wrap {
      padding-inline: 20rem;
      padding-bottom: 20rem;
    }

    &--mobile {
      position: absolute;
      z-index: 100;
      bottom: 20rem;
      width: 100%;
      padding-inline: 20rem;
    }
  }

  &__mobile-extra {
    display: flex;
    flex-direction: column;
    row-gap: 24rem;
    margin-bottom: 100rem;
  }

  &__mobile-video {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
    backdrop-filter: blur(8rem);
  }
}


.splide__pagination {
  gap: 8rem;
  bottom: -45rem !important;
}

.splide__pagination__page {
  width: 8rem;
  aspect-ratio: 1;
  opacity: 1 !important;
  border-radius: 5rem !important;
  transition: width 0.4s cubic-bezier(0.65, 0, 0.35, 1),
    background-color 0.4s ease !important;

  &.is-active {
    width: 40rem;
    background-color: var(--color-blue) !important;
  }
}

.hero__slide-arrows {
  gap: 45rem !important;
  position: absolute;
  top: 6%;
  left: 51%;
  transform: translateY(-50%);
  z-index: 10;

  @media (max-width: 1680px) {
    gap: 1vw !important;
  }

  @include container {
    .controls__button {
      padding: 15rem 25rem;
    }

    @include tablet {
      .controls__button {
        padding: 16rem 32rem;
      }
    }

  }

  &--mobile {
    display: none;

    @include tablet {
      display: flex;
      top: 60rem;
      right: 20rem;
      transform: none;
    }
  }
}
