@use "../helpers" as *;

.modal {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 1000;

  &__wrapper {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 50vw;

    @include tablet {
      max-width: 100%;
      width: 90%;
    }
  }

  &__close-button {
    @include reset-button;
    position: absolute;
    right: 10rem;
    top: 10rem;
    padding: 20rem;
    border-radius: 8rem;
    background-color: var(--color-gray-50);

    @include hover {
      background-color: var(--color-blue-hover);
      &::before,
      &::after {
        background-color: var(--color-white);
      }
    }

    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 20rem;
      height: 2rem;
      background-color: var(--color-blue);
      transform-origin: center;
      border-radius: 50px;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
    }

    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
    }
  }

  &.is-active {
    display: block;
  }

  &__overlay {
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
  }

  &__content {
    position: relative;
    border: 1rem solid var(--color-blue);
    background: var(--color-white);
    padding: 40rem;
    border-radius: 20rem;
    z-index: 10;

    display: flex;
    flex-direction: column;
    row-gap: 40rem;

    @include tablet {
      padding:32rem 20rem;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    row-gap: 16rem;
  }

  &__title {
    font-weight: 500;
    font-size: 24rem;
    text-transform: uppercase;
    color: var(--color-black);

    @include mobile {
      font-size: 20rem;
    }
  }

  &__subtitle {
    font-size: 21rem;
    color: var(--color-black);

    @include tablet {
      font-size: 16rem;
    }

    @include mobile {
      font-size: 12rem;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 24rem;
  }

  &__fields {
    display: flex;
    gap: 16rem;
    flex-wrap: wrap;
    width: 100%;

    @include tablet {
      justify-content: flex-start;
    }

    @include mobile-s {
      justify-content: space-between;
    }

    .faq__row {
      display: flex;
      gap: 16rem;
      width: 100%;
    }

    .faq__cell {
      width: 100%;


      @include mobile-s {
        width: 163rem;

        &:nth-child(5) {
          width: 100% !important;
        }
      }

      &--long {
        width: 100%;
      }
    }

    .faq__cell-input,
    .faq__cell-input--long{
      border: 1px solid var(--color-gray-100);
    }

    .policy {
      width: 100%;
    }
  }

  &__action {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      flex-direction: column;
      gap: 24rem;
    }

    .faq__button {
      padding: 22rem 28rem;
      width: 100%;
      text-wrap: nowrap;

      @include tablet {
        width: 60%;
        padding: 20rem 32rem;
      }

      @include mobile {
        width: 100%;
        padding: 12rem 16rem;
      }
    }
  }
}