@use "../helpers" as *;

.modal-success{
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1000;

    &.is-active {
        display: block;
    }

    &__wrapper {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 640rem;

        @include tablet {
        max-width: 100%;
        width: 90%;
        }
    }

    &__overlay {
        position: absolute;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
    }

    &__content {
        position: relative;
        border: 1rem solid var(--color-blue);
        background: var(--color-white);
        padding: 40rem;
        border-radius: 20rem;
        align-items: center;
        z-index: 10;

        display: flex;
        flex-direction: column;

        @include tablet{
            padding: 32rem 20rem;
        }
    }

    &__close-button{
        @include reset-button;
        position: absolute;
        right: 10rem;
        top: 10rem;
        padding: 20rem;
        border-radius: 8rem;
        background-color: var(--color-gray-50);

        @include hover{
            background-color: var(--color-blue-hover);
            &::before,
            &::after {
                background-color: var(--color-white);
            }
        }

        &::before,
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            width: 20rem;
            height: 2rem;
            background-color: var(--color-blue);
            transform-origin: center;
            border-radius: 100%;
        }

        &::before {
            transform: translate(-50%, -50%) rotate(45deg);
        }

        &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
        }

        @include tablet{
            right: 0;
            top: -45rem;
        }
    }

    &__image{
        margin-bottom: 40rem;
    }

    &__header{
        margin-bottom: 32rem;
        color: var(--color-black);
        text-align: center;

        @include tablet{
            margin-bottom: 0;
        }
    }

    &__title{
        font-size: 24rem;
        font-weight: 500;
        text-transform: uppercase;
    }

    &__subtitle{
        font-size: 20rem;

        @include tablet{
            font-size: 18rem;
        }
    }

    &__button{
        max-height: 55rem;
        font-size: 24rem;
        width: 100%;
    }
}