@use "../helpers" as *;

.other-carousel {
  padding-top: 50rem;
  padding-bottom: 120rem;

  @include tablet {
    padding-bottom: 80rem;
    padding-top: 60rem;
  }

  &__title {
    font-weight: 500;
    font-size: 50rem;
    text-transform: uppercase;
    color: var(--color-black);
    text-align: center;
    margin-bottom: 40rem;

    //@include tablet {
    //  font-weight: 600;
    //  font-size: rem(36);
    //  line-height: rem(25);
    //  margin-bottom: rem(32);
    //}
  }

  &__wrapper {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 8rem;
    position: relative;
    margin: auto;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: 100;
      pointer-events: none;
      background: linear-gradient(to right, #fff, #fff0);
      width: 60%;

      @include tablet {
        width: 40%;
      }

      @include mobile {
        width: 15%;
      }
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0 0 0 auto;
      z-index: 100;
      pointer-events: none;
      background: linear-gradient(to left, #fff, #fff0);
      width: 60%;

      @include tablet {
        width: 40%;
      }

      @include mobile {
        width: 15%;
      }
    }
  }

  &__list {
    gap: 8rem;
  }

  &__button {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 600;
    background: rgb(0, 96, 223);
    cursor: pointer;
    transition-duration: var(--transition-duration);
    text-transform: uppercase;

    @include hover {

      background-color: var(--color-blue-hover);
    }
  }

  &__slide {
    flex-shrink: 0;
    font-weight: 400;
    font-size: 24rem;
    font-family: var(--font-family-accent);
    border: 1px solid var(--color-gray-100);
    border-radius: 20rem;
    padding: 22rem 26rem;

    @include tablet {
      font-size: 24rem;
      padding: 16rem 18rem;
    }
  }
}
