@use "../helpers" as *;

.policy{
  display: flex;
  align-items: center;
  gap: 12rem;
  width: 100%;

  &__label{
    font-weight: 400;
    font-size: 16rem;
    color: var(--color-gray-200);
    font-family: var(--font-family-accent);

    @include mobile{
      font-size: 20rem;
    }

    @include mobile-m {
      font-size: 18rem;
    }

    a{
      color: var(--color-blue);
      text-decoration: none;
    }
  }

  &__checkbox{
    position: relative;
    min-width: 19rem;
    max-width: 19rem;
    aspect-ratio: 1;
    appearance: none;
    border: 1rem solid var(--color-blue);
    border-radius: 6rem;
    cursor: pointer;
    &::after {
      content: "";
      position: absolute;
      display: none;
      left: 6rem;
      top: 2rem;
      width: 5rem;
      height: 10rem;
      border: solid var(--color-blue);
      border-width: 0 2rem 2rem 0;
      transform: rotate(45deg);
    }

    &:checked::after {
      display: block;
    }
  }
}