@use "../helpers" as *;

.review-button{
  @include reset-button;
  display: flex;
  align-items: center;
  column-gap: 8rem;
  padding: 16rem 12rem;
  border-radius: 14rem;
  background-color: var(--color-white);
  font-size: 20rem;
  font-weight: 500;
  position: relative;
  border: 1rem solid var( --color-gray-50);

  svg{
    width: 12rem;
    height: 12rem;
  }

  @include tablet{
    font-size: 18rem;
  }

  &__star{
    width: 14rem;
    height: 14rem;
  }

  @include tablet {
    font-size: 20rem;
  }

  @include mobile {
    font-size: 14rem;
  }

  @include hover{
    background-color: var(--color-blue-hover);
    color: var(--color-white);
  }
}