@use "../helpers" as *;

.service-detail {
  display: flex;
  gap: 44rem;
  padding: 80rem 40rem;
  height: 90vh;
  min-height: 750rem;

  @include tablet{
    height: auto;
  }

  @media (max-width: rem(768)) {
    flex-direction: column-reverse;
    padding: 40rem 16rem;
    gap: 20rem;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40rem;
    //height: 700px;
    //height: 100%;

    @include tablet{
      gap: 20rem;
    }

    &-button{
      align-self: flex-start;
      padding-inline: 150rem;

      @include mobile{
        width: 100%;
      }
    }

    &-description {
      font-size: 20rem;
      color: var(--color-black);

      @media (max-width: rem(768)) {
        font-size: 16rem;
      }
    }

    &-features {
      display: flex;
      gap: 15rem;
      margin-top: 20rem;
    }

    &-feature {
      background-color: #f5f8fc;
      padding: .5vw 1vw;
      border-radius: 140rem;
      display: flex;
      align-items: center;
      gap: 8rem;
      text-transform: uppercase;
      font-size: 16rem;

      svg{
        width: 24rem;
        height: 24rem;
      }
    }
  }

  &__video{
    height: 100%;
    width: 30%;
    border-radius: 20rem;
    overflow: hidden;
    flex-shrink: 0;

    @include tablet{
      width: 35%;
    }

    @include mobile{
      width: 100%;
      height: 80vh;
    }

    @include mobile-m{
      height: 60vh;
    }

    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider {
    max-width: 50%;
    flex: 1;

    @media (max-width: rem(768)) {
      max-width: 100%;
    }

    .splide__track {
      border-radius: 10rem;
      overflow: hidden;
    }

    .splide__slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10rem;
      }
    }


    .splide__track,
    .splide__list,
    .splide__slide {
      height: 100%;

      @include tablet{
        height: 40vh;
      }
    }

    &-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 20rem;
      margin-top: 20rem;

      @media (max-width: rem(768)) {
        justify-content: center;
      }
    }


    &-counter {
      font-size: 18rem;
      font-weight: 600;
      color: var(--color-black);
    }
  }
}
