@use "../helpers" as *;

.service-included {
  padding: 80rem 40rem 60rem 40rem;
  border-bottom: 1px solid #DFDFDF;

  @include tablet {
    padding: 0 16rem 60rem 16rem;
  }

  &__header {
    padding-bottom: 40rem;

    @include tablet {
      padding-bottom: 24rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16rem;

    @include tablet {
      gap: 12rem;
    }
  }

  &__list-item {
    background-color: #F5F8FC;
    border-radius: 20rem;
    padding: 18rem;

    &-header {
      font-size: 24rem;
      font-weight: 500;
      margin-bottom: 4rem;
      color: var(--color-black);

      @include tablet {
        font-size: 20rem;
      }
    }

    &-description {
      font-size: 18rem;
      color: var(--color-gray-300);

      @include tablet {
        font-size: 16rem
      }
    }
  }
}
