@use "../helpers" as *;

.service {
  overflow-x: hidden;
  @include mobile {
    display: contents;
  }

  &__inner {
    padding-top: 80rem;
    padding-inline: 40rem;

    @include tablet {
      padding-top: 30rem;
      padding-bottom: 0;
      padding-inline: 20rem;
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    @include mobile {
      padding-inline: 16rem;
    }
  }

  &__title {
    text-align: center;

    &--catalog {
      text-align: left;
      margin-bottom: 70rem;

      @include mobile-m{
        margin-bottom: 0;
      }

      .service__header {
        text-align: left;
        text-transform: uppercase;
        color: var(--color-black);
        font-weight: 700;

        @include tablet {
          font-size: 32rem;
        }
      }
    }
  }

  &__header {
    margin-bottom: 26rem;
    font-size: 50rem;
    line-height: 0.8;

    @include tablet {
      margin-bottom: 20rem
    }

  }

  &__subheader {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 24rem;
    margin-bottom: 44rem;

    @include tablet {
      font-size: 20rem;
    }

    @include mobile {
      margin-bottom: 0;
    }

    @include mobile-m{
      font-size: 24rem;
    }
  }


  &__cards-wrapper {
    @include tablet{
      display: flex;
      flex-direction: column;
      gap: 20rem;
    }

    @include mobile {
      gap: 16rem;
    }
  }

  &__popular{
    position: absolute;
    top: -14rem;
    right: 32rem;
    z-index: 10;
    width: 72rem;
    height: 104rem;

    @include tablet {
      right: 16rem;
      width: 60rem;
      height: 80rem;
    }

    @include mobile-s{
      width: 40rem;
      height: 60rem;
    }
  }

  &__card {
    height: 500rem;
    width: 100%;
    border-radius: 40rem;
    padding: 14rem;
    display: flex;
    box-sizing: border-box;
    background-color: var(--color-white-bg);
    border: 1rem solid #E9EEF5;
    overflow: hidden;

    @include tablet {
      height: 350rem;
      padding: 10rem;
      border-radius: 30rem;
    }

    @include mobile {
      padding: 8rem;
      height: 380rem;
      border-radius: 24rem;
    }

    @include mobile-m{
      height: auto;
    }

    &-body {
      width: 100%;
      padding: 25rem;
      display: flex;
      height: 100%;
      overflow: hidden;
      box-sizing: border-box;

      @include tablet {
        flex-direction: column;
        gap: 0;
        width: 100%;
        min-height: 0;
        padding: 0;
      }
    }

    &-main {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      overflow: hidden;
      gap: 20rem;

      @include tablet {
        width: 100%;
        padding: 24rem;
      }

      @include mobile {
        padding: 16rem;
      }

    }

    &-header {
      font-weight: 500;
      font-size: 40rem;
      margin-bottom: 8rem;
      color: var(--color-black);
      line-height: normal;

      @include tablet {
        margin-bottom: 0;
        font-size: 36rem;
      }

      @include mobile {
        font-size: 28rem;
        margin-bottom: 2rem;
      }
    }

    &-subheader {
      font-weight: 400;
      font-size: 24rem;
      margin-bottom: 32rem;
      font-family: var(--font-family-accent);
      line-height: normal;
      color: var(--color-gray-300);
      flex: 1 1 auto;

      @include laptop {
        font-size: 20rem;
        margin-bottom: 24rem;
      }

      @include mobile-m{
        font-size: 24rem;
      }

      @include tablet {
        flex: 0 0 auto;
        margin-bottom: 0;

        &.collapsed {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          cursor: pointer;
        }

        &.expanded {
          cursor: pointer;
        }
      }
    }

    &-features {
      display: flex;
      column-gap: 15rem;

      .card-features {
        color: var(--color-gray-300);
        background: #E9EEF5;
        padding: 10rem 20rem 10rem 10rem;
        font-size: 16rem;
        border: none;

        @include tablet {
          font-size: 12rem;
          padding: 8rem 12rem 8rem 8rem;
        }

        @include mobile-m {
          font-size: 16rem;
        }

        svg{
          width: 20rem;
          height: 20rem;
        }
      }

      @include tablet {
        margin-bottom: 0;
      }

      @include mobile {
        margin-bottom: 0;
      }
    }


    &-img {
      border-radius: 20rem;

      @include laptop {
        width: 95%;
      }

      @include tablet {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__pricing {
    display: flex;
    column-gap: 23rem;
    align-items: center;

    @include container {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 32rem;
    }

    @include tablet {
      margin-bottom: 0;
      gap: 20rem;
      justify-content: center;
    }
  }

  &__price {
    font-weight: 500;
    line-height: 17rem;
    font-size: 24rem;
    color: var(--color-black);
    text-transform: uppercase;
    text-wrap: nowrap;
  }

  &__button {
    background: var(--color-blue);
    color: var(--color-white);
    font-weight: 500;
    text-wrap: nowrap;
    text-transform: uppercase;

    padding-inline: 45rem;

    @include hover {
      color: var(--color-white);
    }

    @include tablet {
      padding-inline: 25rem;
      width: 100%;
    }

    &-wrapper{

      @include mobile{
        width: 100%;
      }

      @include hover {
        color: var(--color-white);

        .service__button-arrow{
          svg {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  &__button-arrow {
    @include reset-button;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1;

    padding-block: 20rem;
    border-radius: 16rem;

    @include tablet{
      padding: 14rem;
      border-radius: 12rem;
    }

    svg{
      transform: rotate(0);
      transition-duration: 0.2s;
      width: 40rem;
      height: 40rem;

      @include tablet{
        width: auto;
        height:auto;
      }
    }

    @include tablet {
      border-radius: 16rem;
    }
  }

  &__card-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;


    @include mobile-m {
      grid-template-columns: 1fr;
    }
  }

  &__image {
    position: relative;
    border-radius: 20rem;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;

    @include tablet {
      height: auto;
    }

    @include mobile-m {
      height: 300rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
