@use "../helpers" as *;

.service-detail {
  padding-block: 40rem 80rem;
  height: 95vh;
  min-height: 670rem;
  padding-inline: 40rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16rem;

  @include tablet{
    height: auto;
    padding-block: 48rem 60rem;
  }

  @include mobile{
    padding-block: 32rem 60rem;
    display: flex;
    flex-direction: column;
    gap: 24rem;
    padding-inline: 20rem;
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40rem;

    @include tablet{
      gap: 20rem;
    }

    @include mobile{
      display: contents;
    }

    &-button{
      align-self: flex-start;
      padding-inline: 150rem;

      @include mobile{
        width: 100%;
      }
    }

    &-description {
      font-size: 20rem;
      color: var(--color-black);

      @include mobile{
        order: 3;
      }
    }

    &-features {
      display: flex;
      gap: 15rem;
      margin-top: 20rem;

      @include mobile{
        margin-top: 0;
        order: 4;
      }
    }

    &-feature {
      background-color: #f5f8fc;
      padding: .5vw 1vw;
      border-radius: 140rem;
      display: flex;
      align-items: center;
      gap: 8rem;
      text-transform: uppercase;
      font-size: 16rem;

      svg{
        width: 24rem;
        height: 24rem;
      }
    }

    &-header{
      @include mobile{
        order: 1;
      }
    }

    &-wrapper{
      @include mobile{
        display: contents;
      }
    }
  }

  &__video{
    height: 100%;
    width: 100%;
    border-radius: 24rem;
    overflow: hidden;

    @include mobile{
      border-radius: 20rem;
      height: 80vh;
      order: 2;
    }

    @include mobile-m{
      height: 60vh;
    }

    video{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__form-wrapper{
    width: 85%;

    @include mobile{
      width: auto;
      order: 4;
      margin-inline: -20rem;
    }
  }

  &__image {
    width: 100%;
    border-radius: 24rem;
    overflow: hidden;

    @include mobile{
      border-radius: 20rem;
      order: 2;
    }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
  }
}
