@use "../helpers" as *;

.service-detail {
  display: flex;
  gap: rem(44);
  padding: rem(80) rem(40);
  height: 100vh;

  @include tablet{
    height: auto;
  }

  @media (max-width: rem(768)) {
    flex-direction: column-reverse;
    padding: rem(40) rem(16);
    gap: rem(20);
  }

  &__info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: rem(20);
    &-button{
      align-self: flex-start;
    }

    &-description {
      font-size: 1.35vw;
      color: var(--color-black);

      @media (max-width: rem(768)) {
        font-size: rem(16);
      }
    }

    &-features {
      display: flex;
      gap: rem(15);
      margin-top: rem(20);
    }

    &-feature {
      background-color: #f5f8fc;
      padding: .5vw 1vw;
      border-radius: rem(140);
      display: flex;
      align-items: center;
      gap: rem(8);
      text-transform: uppercase;
      font-size: rem(16);
    }
  }

  &__slider {
    max-width: 50%;
    flex: 1;

    @media (max-width: rem(768)) {
      max-width: 100%;
    }

    .splide__track {
      border-radius: rem(10);
      overflow: hidden;
    }

    .splide__slide {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: rem(10);
      }
    }


    .splide__track,
    .splide__list,
    .splide__slide {
      height: 100%;

      @include tablet{
        height: 40vh;
      }
    }

    &-controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: rem(20);
      margin-top: rem(20);

      @media (max-width: rem(768)) {
        justify-content: center;
      }
    }


    &-counter {
      font-size: rem(18);
      font-weight: 600;
      color: var(--color-black);
    }
  }
}
