@use "../helpers" as *;

.service{
  @include tablet{
  }

  @include mobile{
    display: contents;
  }

  &__title{
    text-align: center;
  }

  &__header{
    line-height: rem(35);
    margin-bottom: rem(32);

    @include tablet{
      margin-bottom: rem(24);
    }
  }

  &__subheader{
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: rem(24);
    margin-bottom: rem(47);

    @include tablet{
      margin-bottom: rem(32);
      font-size: rem(20);
    }
  }

  &__inner{
    padding-top: rem(70);
    padding-bottom: rem(100);

    @include tablet{
      padding-top: rem(60);
      padding-bottom: rem(90);
      padding-inline: 1px;
    }
  }

  &__cards-wrapper {
    position: relative;
    --card-height: auto;
    --base-gap: 100px;
    --overlap-offset: -7px;
    --cards-count: 4;
    --total-gap: calc(var(--base-gap) * (var(--cards-count) - 1));
    --base-scale: 0.98;
    --scale-step: 0.008;

    width: 100%;
    height: calc(var(--card-height) * var(--cards-count) + var(--total-gap));
    z-index: 100;

    @include tablet{
      padding-inline: 1px;
    }
  }

  &__card {
    position: sticky;
    top: rem(75);
    width: 100%;
    height: var(--card-height);
    background-color: var(--color-white);
    border: 1px solid var(--color-blue);
    border-radius: rem(20);
    padding: rem(30);
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    transform-origin: center top;
    box-sizing: border-box;

    &:not(:first-child) {
      margin-top: var(--base-gap);
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        $scale: calc(var(--base-scale) + ($i - 1) * var(--scale-step));
        z-index: $i;

        transform: scale($scale)
        translateY(calc((-#{$i} - 1) * var(--overlap-offset)));

        &.is-active {
          transform: scale(calc(#{$scale} + 0.02))
          translateY(calc((-#{$i} - 1) * var(--overlap-offset)));

        }
      }
    }

    &:nth-child(1){ box-shadow: 0 -9px 0 -1px var(--color-blue-50);}
    &:nth-child(2){ box-shadow: 0 -9px 0 -1px var(--color-blue-100);}
    &:nth-child(3){ box-shadow: 0 -9px 0 -1px var(--color-blue-200);}
    &:nth-child(4){ box-shadow: 0 -9px 0 -1px var(--color-blue-300);}

    @include tablet{
      top: rem(90);
    }

    @include mobile{
      padding: rem(20);
    }


    &-body{
      display: flex;
      justify-content: space-between;
      gap: rem(40);
      min-height: rem(480);

      @include tablet{
        flex-direction: column;
        gap: 0;

      }
    }

    &-main{
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include tablet{
        width: 100%;
      }
    }

    &-header{
      font-weight: 500;
      font-size: rem(40);
      margin-bottom: rem(32);
      color: var(--color-black);
      line-height: normal;

      @include tablet{
        margin-bottom: rem(24);
        font-size: rem(28);
      }
    }

    &-subheader{
      font-weight: 400;
      font-size: rem(24);
      margin-bottom: rem(40);
      font-family: var(--font-family-accent);
      line-height: normal;

      @include laptop {
        font-size: rem(20);
        margin-bottom: rem(24);
      }

      @include tablet{

        &.collapsed {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          cursor: pointer;
        }

        &.expanded {
          cursor: pointer;
        }
      }
    }

    &-features{
      display: flex;
      column-gap: rem(15);

      @include tablet{
        margin-bottom: rem(32);
      }
    }


    &-img{
      border-radius: rem(20);

      @include laptop {
        width: 95%;
      }

      @include tablet{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__pricing{
    display: flex;
    column-gap: rem(23);
    align-items: center;

    @include container{
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: rem(32);
    }

    @include tablet{
      margin-bottom: rem(32);
      justify-content: center;
    }


  }

  &__price{
    font-weight: 500;
    line-height: rem(17);
    font-size: rem(24);
    color: var(--color-black);
    text-transform: uppercase;
    text-wrap: nowrap;
  }

  &__button{
    padding-inline: rem(80) !important;
    height: rem(55);
    width: rem(425);
    text-wrap: nowrap;
    line-height: rem(17);

    @include mobile{
      width: rem(350);
    }

    @include tablet{
      width: 100%;
    }
  }

  &__progress{
    background-color: var(--color-gray-100);

    &-wrapper{
      padding-inline: rem(50);
      padding-top: rem(30);

      @include tablet {
        padding-top: rem(15);
      }
    }

    &-bar {
      background: var(--color-blue);
      border-radius: rem(10);
      height: rem(8);
      transition: width 400ms ease;
      width: 0;
    }
  }
  &__splide{
    transform-origin: center top;
    &-wrap{
      width: 100%;
      height: fit-content;
      transform: translateZ(0);
      isolation: isolate;
    }

    &-slide{
      border-radius: rem(20);
    }
  }
}

@for $i from 1 through 5 {
  .service__card:nth-child(#{$i}) .service__splide {
    $scale: calc(var(--base-scale) + ($i - 1) * var(--scale-step));
    $inverse-scale: calc(1 / $scale);
    transform: scale($inverse-scale);
  }

  .service__card:nth-child(#{$i}).is-active .service__splide {
    $scale: calc(var(--base-scale) + ($i - 1) * var(--scale-step) + 0.02);
    $inverse-scale: calc(1 / $scale);
    transform: scale($inverse-scale);
  }
}

