@use "../helpers" as *;

.service {
  @include mobile {
    display: contents;
  }

  &__inner {
    padding-block: 80rem 20rem;
    padding-inline: 40rem;

    @include tablet {
      padding-block: 30rem;
      padding-inline: 20rem;
    }

    @include mobile {
      padding-inline: 16rem;
      padding-bottom: 45rem;
    }
  }

  &__title {
    text-align: center;

    &--catalog {
      text-align: left;
      margin-bottom: 70rem;

      .service__header {
        text-align: left;
        text-transform: uppercase;
        color: var(--color-black);
        font-weight: 700;

        @include tablet {
          font-size: 32rem;
        }
      }
    }
  }

  &__header {
    margin-bottom: 26rem;
    font-size: 50rem;
    line-height: 0.8;

    @include tablet {
      margin-bottom: 20rem
    }
  }

  &__subheader {
    font-family: var(--font-family-accent);
    font-weight: 400;
    font-size: 24rem;
    margin-bottom: 44rem;

    @include tablet {
      font-size: 20rem;
    }
  }


  &__cards-wrapper {
    position: relative;
    --card-height: auto;
    --base-gap: 10rem;
    --overlap-offset: -7rem;
    --cards-count: 4;
    --total-gap: calc(var(--base-gap) * (var(--cards-count) - 1));
    --base-scale: 0.98;
    --scale-step: 0.008;

    width: 100%;
    height: calc(var(--card-height) * var(--cards-count) + var(--total-gap));
    z-index: 100;

    @include tablet {
      padding-inline: 1rem;
    }
  }

  &__popular{
    position: absolute;
    top: -14rem;
    right: 32px;
    z-index: 10;
    width: 72rem;
    height: 104rem;

    @include tablet {
      right: 16rem;
      width: 60rem;
      height: 80rem;
    }

    @include mobile-s{
      width: 40rem;
      height: 60rem;
    }
  }

  &__card {
    position: sticky;
    top: 75rem;
    width: 100%;
    height: var(--card-height);
    border-radius: 40rem;
    padding: 14rem;
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    transform-origin: center top;
    box-sizing: border-box;
    background-color: var(--color-white-bg);
    border: 1px solid #E9EEF5;

    @include tablet {
      padding: 30rem;
      border-radius: 30rem;
    }

    @include mobile {
      padding: 8rem;
      border-radius: 24rem;
    }

    &:not(:first-child) {
      margin-top: var(--base-gap);
    }

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        $scale: calc(var(--base-scale) + ($i - 1) * var(--scale-step));
        z-index: $i;

        transform: scale($scale) translateY(calc((-#{$i} - 1) * var(--overlap-offset)));

        &.is-active {
          transform: scale(calc(#{$scale} + 0.02)) translateY(calc((-#{$i} - 1) * var(--overlap-offset)));

        }
      }
    }

    @include tablet {
      top: 90rem;
    }

    &-body {
      display: flex;
      justify-content: space-between;
      width: 48%;
      gap: 40rem;
      padding: 25rem;
      min-height: 400rem;

      @include tablet {
        flex-direction: column;
        gap: 0;
        width: 100%;
        min-height: 0;
        padding: 0;
      }
    }

    &-main {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;

      @include tablet {
        width: 100%;
        padding: 24rem;
      }

      @include mobile {
        padding: 16rem;
      }

    }

    &-header {
      font-weight: 500;
      font-size: 40rem;
      margin-bottom: 8rem;
      color: var(--color-black);
      line-height: normal;

      @include tablet {
        margin-bottom: 24rem;
        font-size: 36rem;
      }

      @include mobile {
        font-size: 28rem;
        margin-bottom: 2rem;
      }
    }

    &-subheader {
      font-weight: 400;
      font-size: 24rem;
      margin-bottom: 32rem;
      font-family: var(--font-family-accent);
      line-height: normal;
      color: var(--color-gray-300);

      @include laptop {
        font-size: 20rem;
        margin-bottom: 24rem;
      }

      @include tablet {
        &.collapsed {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          cursor: pointer;
        }

        &.expanded {
          cursor: pointer;
        }
      }
    }

    &-features {
      display: flex;
      column-gap: 15rem;

      .card-features {
        color: var(--color-gray-300);
        background: #E9EEF5;
        padding: 10rem 20rem 10rem 10rem;
        font-size: 16rem;
        border: none;

        @include tablet {
          font-size: 12rem;
          padding: 8rem 12rem 8rem 8rem;
        }
      }

      @include tablet {
        margin-bottom: 32rem;
      }
    }


    &-img {
      border-radius: 20rem;

      @include laptop {
        width: 95%;
      }

      @include tablet {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }
  }

  &__pricing {
    display: flex;
    column-gap: 23rem;
    align-items: center;

    @include container {
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 32rem;
    }

    @include tablet {
      margin-bottom: 16rem;
      gap: 20rem;
      justify-content: center;
    }
  }

  &__price {
    font-weight: 500;
    line-height: 17rem;
    font-size: 24rem;
    color: var(--color-black);
    text-transform: uppercase;
    text-wrap: nowrap;
  }

  &__button {
    background: var(--color-blue);
    color: var(--color-white);
    font-weight: 500;
    text-wrap: nowrap;
    text-transform: uppercase;

    padding-inline: 45rem;

    @include hover {
      color: var(--color-white);
    }

    @include tablet {
      padding-inline: 25rem;
      width: 100%;
    }

    &-wrapper{
      @include mobile{
        width: 100%;
      }

      @include hover {
        color: var(--color-white);

        .service__button-arrow{
          svg {
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  &__button-arrow {
    @include reset-button;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    aspect-ratio: 1;

    padding-block: 20rem;
    border-radius: 16rem;

    @include tablet{
      padding: 14rem;
      border-radius: 12rem;
    }

    svg{
      transform: rotate(0);
      transition-duration: 0.2s;
      width: 40rem;
      height: 40rem;

      @include tablet{
        width: auto;
        height:auto;
      }
    }

    @include tablet {
      border-radius: 16rem;
    }
  }

  &__progress {
    background-color: var(--color-gray-100);
    border-radius: 50rem;

    &-wrapper {
      display: none;
      padding-inline: 50rem;
      padding-top: 30rem;

      @include tablet {
        padding-top: 15rem;
      }
    }

    &-bar {
      background: var(--color-blue);
      border-radius: 10rem;
      height: 8rem;
      transition: width 400ms ease;
      width: 0;
    }
  }

  &__splide {
    transform-origin: center top;

    &-wrap {

    }

    &-slide {
      border-radius: 20rem;
    }
  }

  &__card-wrapper {
    display: flex;
    gap: 2%;

    @include tablet {
      flex-direction: column;
    }
  }

  &__splide-wrap {
    position: relative;
    width: 50%;
    overflow: hidden;
    aspect-ratio: 1.5;
    height: 100%;
    border-radius: 30rem;
    padding: 14rem;
    background: var(--color-white);

    transform: translateZ(0);
    isolation: isolate;
    margin: 0!important;


    @include tablet {
      width: 100%;
      margin: 20rem 0;
      padding: 10rem;
      max-height: 35vh;
      border-radius: 24rem;
    }

    @include mobile-m {
      max-height: 20vh;
    }
  }

  &__image {
    width: 100%;
    height: 100%;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 0.5s ease;
    }

    &:hover img {
      //transform: scale(1.05);
    }
  }

  &__card-img {
    border-radius: 20rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@for $i from 1 through 5 {
  .service__card:nth-child(#{$i}) .service__splide {
    $scale: calc(var(--base-scale) + ($i - 1) * var(--scale-step));
    $inverse-scale: calc(1 / $scale);
    transform: scale($inverse-scale);
  }

  .service__card:nth-child(#{$i}).is-active .service__splide {
    $scale: calc(var(--base-scale) + ($i - 1) * var(--scale-step) + 0.02);
    $inverse-scale: calc(1 / $scale);
    transform: scale($inverse-scale);
  }
}
