@use "../helpers" as *;

.slider {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(24);

    @include tablet {
      flex-direction: column;
      align-items: flex-start;
      gap: rem(16);
      margin-bottom: rem(16);
      line-height: rem(23);
    }
  }

  &__header {
    font-weight: 500;
    font-size: 1.5vw;
    text-transform: uppercase;
    color: var(--color-black);

    @include tablet {
      font-size: rem(26);
    }

    @include mobile {
      font-size: rem(18);
    }
  }

  &__features {
    padding: 0.8vw 1vw;
    color: var(--color-blue);


    &-wrapper {
      display: flex;
      align-items: center;
      column-gap: 1vw;
    }
  }

  &__image {
    object-fit: cover;
    border-radius: rem(20);
    aspect-ratio: 636 / 370;
    width: 100%;

    @include tablet {
      aspect-ratio: 1.1;
    }

    @include mobile {
      aspect-ratio: 236/320;
    }
  }


}
