@use "../helpers" as *;

.team {
  padding-top: 100rem;
  padding-bottom: 80rem;
  padding-inline: 40rem;
  overflow: hidden;

  @include tablet {
    padding-top: 50rem;
    padding-bottom: 60rem;
    padding-inline: 20rem;
  }

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52rem;

    @include tablet {
      margin-bottom: 20rem;
    }
  }

  &__layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 40rem;
    align-items: center;

    @include tablet {
      grid-template-columns: 1fr;
      gap: 20rem;
    }
  }

  &__splide {
    height: 430rem;

    @include tablet{
      height: 300rem;
    }
  }

  .splide__track,
  .splide__list {
    height: 100%;
  }

  &__info {
    display: flex;
    width: 300rem;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    color: var(--color-black);

    &-experience {
      display: none;
      font-size: 20rem;
      line-height: normal;
      align-items: center;
      border-radius: 150rem;
      gap: 8rem;
      padding: 16rem 18rem;
      background: var(--color-white-bg);
      text-transform: uppercase;
      width: fit-content;

      svg{
        width: 14rem;
        height: 14rem;
        aspect-ratio: 1;
        flex-shrink: 0;
      }

      &-mobile{
        position: absolute;
        left:6rem;
        bottom: 6rem;
        line-height: normal;
        display: flex;
        align-items: center;
        border-radius: 14rem;
        font-size: 12rem;
        gap: 8rem;
        padding: 8rem 12rem 8rem 8rem;
        background: var(--color-white-bg);
        text-transform: uppercase;
        width: fit-content;
      }

      &-label {
        color: var(--color-blue);
      }
    }

    &-name {
      font-size: 28rem;
      font-weight: 500;

      @include tablet{
        font-size: 18rem;
      }
    }

    &-post {
      font-family: var(--font-family-accent);
      font-size: 20rem;
      color: var(--color-gray-300);

      @include mobile{
        color: var(--color-gray-200);
        font-size: 16rem;
      }
    }

    &-description {
      font-family: var(--font-family-accent);
      font-size: 18rem;
      font-weight: 400;
      color: var(--color-gray-200);
      margin-top: 32rem;
    }
  }

  .team__splide-list {
    align-items: flex-start;
  }

  &__splide-slide {
    height: 80%;
    transition: height 0.3s ease-in-out;

    &.is-active {
      height: 100%;
    }
  }

  &__img {
    border-radius: 20rem;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16rem;

    &-counter {
      font-size: 16rem;
      color: var(--color-black);
      font-weight: 600;

      span {
        color: var(--color-gray-200);
      }
    }

    &-button {
      &.is-disabled {
        background-color: var(--color-white);
        pointer-events: none;
        cursor: default;

        img {
          filter: none;
        }
      }
    }
  }

  &__slide-info {
    display: block;
    text-align: left;
    margin-top: 12rem;
  }

  &__slide-name {
    font-size: 28rem;
    font-weight: 400;
    color: var(--color-black);

    @include tablet {
      font-size: 18rem
    }
  }

  &__slide-post {
    font-family: var(--font-family-accent);
    font-size: 20rem;
    color: var(--color-gray-200);

    @include tablet {
      font-size: 16rem
    }
  }

  @include tablet {
    &__info {
      display: none;
    }

    &__splide {
    }

    &__splide-slide {
      height: 80%;
      position: relative;


      &.is-active {
        height: 80%;
      }
    }
  }
}
