@use "../helpers" as *;

.team {
  padding-top: 100rem;
  padding-bottom: 80rem;
  padding-inline: 40rem;
  overflow: hidden;

  @include tablet {
    padding-top: 50rem;
    padding-bottom: 60rem;
    padding-inline: 20rem;
  }

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 52rem;

    @include tablet {
      margin-bottom: 20rem;
    }
  }

  &__layout {
    display: grid;
    grid-template-columns: 1fr;
    gap: 40rem;
    align-items: center;
    position: relative;

    @include laptop{
      display: flex;
      flex-direction: column-reverse;
      align-items: flex-start;
      gap: 32rem;
    }
  }

  &__splide {
    height: 480rem;

    @include laptop{
      height: 430rem;
    }
  }

  .splide__track,
  .splide__list {
    height: 100%;
  }

  &__info {
    position: absolute;
    right: 0;
    top: -20rem;
    background-color: var(--color-white);
    z-index: 10;
    padding-left: 10rem;
    padding-bottom: 3rem;
    border-radius: 10rem;
    display: flex;
    align-items: flex-end;
    gap: 80rem;

    @include laptop{
      top: auto;
      padding: 0;
      position: relative;
      width: 100%;
    }

    &-advantages{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 40rem;

      @include laptop{
        gap: 12rem;
        width: 100%;
      }

      @include tablet {
        grid-template-columns: 1fr;
      }
    }

    &-card{
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @include laptop{
        background-color: var(--color-white-bg);
        width: 100%;
        padding: 24rem;
        border-radius: 20rem;
        overflow: hidden;
        flex-direction: row;
        justify-content: space-between;
      }

      span{
        font-size: 16rem;
        font-weight: 400;
        line-height: 1;

        @include laptop {
          text-align: right;
        }

        @include mobile{
          font-size: 18rem;
        }

        @include mobile-s{
          font-size: 14rem;
        }
      }
    }

    &-tag{
      padding: 6rem 16rem;
      background-color: #F5F8FC;
      border-radius: 150rem;
      font-size: 12rem;
      font-weight: 500;
      text-transform: uppercase;
      color: var(--color-blue);
      border: 1rem solid rgba(0, 96, 223, 0.12);

      @include laptop{
        background-color: var(--color-blue);
        color: var(--color-white);
      }

      @include tablet{
        font-size: 16rem;
      }
    }

    &-bottom{
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include mobile{
        gap: 8px;
      }
    }

    &-title{
      line-height: 1;
      color: var(--color-black);
      font-size: 60rem;
      font-weight: 600;

    }
  }

  .team__splide-list {
    align-items: flex-end;

    @include laptop{
      height: fit-content;
    }
  }

  .team__splide {
    @include laptop{
      height: fit-content;
    }
  }

  &__splide-slide {
    height: 75%;
    transition: height 0.3s ease-in-out, width 0.3s ease-in-out, transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    width: 350rem;

    @include laptop{
      height: fit-content;
    }

    @include tablet {
      width: 232px;
    }

    &.is-active {
      height: 100%;
    }
  }

  &__splide-img{
    width: 100%;
    height: 540rem;
    border-radius: 20rem;
    overflow: hidden;

    @include tablet {
      height: 260px;
      border-radius: 16px;
    }
  }

  &__img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16rem;

    @include laptop{
      display: none;
    }

    &-counter {
      font-size: 16rem;
      color: var(--color-black);
      font-weight: 600;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 75rem;

      span {
        color: var(--color-gray-200);
      }
    }

    &-button {
      &.is-disabled {
        background-color: var(--color-white);
        pointer-events: none;
        cursor: default;

        img {
          filter: none;
        }
      }
    }
  }

  &__slide-info {
    display: block;
    text-align: left;
    margin-top: 12rem;
  }

  &__slide-name {
    font-size: 28rem;
    font-weight: 400;
    color: var(--color-black);

    @include tablet {
      font-size: 24rem
    }
  }

  &__slide-post {
    font-family: var(--font-family-accent);
    font-size: 20rem;
    color: var(--color-gray-200);

    @include tablet {
      font-size: 20rem
    }
  }
}
