@use "../helpers" as *;

.team {
  padding-top: rem(100);
  padding-bottom: rem(80);
  padding-inline: rem(40);
  overflow: hidden;

  @include tablet {
    padding-top: rem(50);
    padding-bottom: rem(60);
    padding-inline: 20px;
  }

  &__header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: rem(52);

    @include tablet {
      margin-bottom: rem(20);
    }
  }

  &__layout {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: rem(40);
    align-items: center;

    @include tablet {
      grid-template-columns: 1fr;
      gap: rem(20);
    }
  }

  &__splide {
    height: 65vh;
  }



  .splide__track,
  .splide__list {
    height: 100%;
  }

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: left;
    color: var(--color-black);

    &-experience {
      display: none;
      font-size: rem(16);
      line-height: normal;
      align-items: center;
      border-radius: rem(150);
      gap: rem(8);
      padding: 16px 18px;
      background: var(--color-white-bg);
      text-transform: uppercase;
      width: fit-content;

      &-mobile{
        position: absolute;
        left: rem(6);
        bottom: rem(6);
        font-size: rem(12);
        line-height: normal;
        align-items: center;
        border-radius: rem(14);
        gap: rem(8);
        padding: rem(8) rem(8) rem(8) rem(12);
        background: var(--color-white-bg);
        text-transform: uppercase;
        width: fit-content;
      }

      &-label {
        color: var(--color-blue);
      }
    }

    &-name {
      font-size: fluid(28, 18);
      font-weight: 500;
    }

    &-post {
      font-family: var(--font-family-accent);
      font-size: fluid(20, 16);
      color: var(--color-gray-300);

      @include mobile{
        color: var(--color-gray-200);
      }
    }

    &-description {
      font-family: var(--font-family-accent);
      font-size: fluid(18, 16);
      font-weight: 400;
      color: var(--color-gray-200);
      margin-top: rem(32);
    }
  }

  .team__splide-list {
    align-items: flex-start;
  }

  &__splide-slide {
    height: 80%;
    transition: height 0.3s ease-in-out;

    &.is-active {
      height: 100%;
    }
  }

  &__img {
    border-radius: rem(20);
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: rem(16);

    &-counter {
      font-size: 1rem;
      color: var(--color-black);
      font-weight: 600;

      span {
        color: var(--color-gray-200);
      }
    }

    &-button {
      &.is-disabled {
        background-color: var(--color-white);
        pointer-events: none;
        cursor: default;

        img {
          filter: none;
        }
      }
    }
  }

  &__slide-info {
    display: block;
    text-align: left;
    margin-top: rem(12);
  }

  &__slide-name {
    font-size: fluid(24, 18);
    font-weight: 400;
    color: var(--color-black);
  }

  &__slide-post {
    font-family: var(--font-family-accent);
    font-size: fluid(20, 16);
    color: var(--color-gray-200);
  }

  @include tablet {
    &__info {
      display: none;
    }

    &__splide {
    }

    &__splide-slide {
      height: 80%;
      position: relative;


      &.is-active {
        height: 80%;
      }
    }
  }
}
