{% load static %}
<div class="modal-success" id='success'>
  <div class="modal-success__overlay"></div>
  <div class="modal-success__wrapper">
    <div class="modal-success__content">
      <button class="modal-success__close modal-success__close-button"></button>
      <img src="{% static 'pages/icons/success.svg' %}"
           alt="Успех"
           class="modal-success__image"
           width="72"
           height="72"
           loading="lazy">
      <div class="modal-success__header">
        <h4 class="modal-success__title">Отлично!</h4>
        <p class="modal-success__subtitle">Спасибо за вашу заявку! Наш менеджер в скором времени свяжется с вами!</p>
      </div>
      <button class="button modal-success__button modal-success__close hidden-tablet">На главную</button>
    </div>
    <div class="decorative-lines">
      <span class="decorative-lines__item"></span>
      <span class="decorative-lines__item"></span>
      <span class="decorative-lines__item"></span>
    </div>
  </div>
</div>

