{% load static %}
<div class="modal">
  <div class="modal__overlay"></div>
  <div class="modal__wrapper">
    <div class="modal__content">
      <button class="modal__close modal__close-button"></button>
      <div class="modal__header">
        <h4 class="modal__title">
          Оставьте <span class="gradient">заявку!</span>
        </h4>
        <p class="modal__subtitle">Мы перезвоним вам в течение 15 минут, чтобы уточнить детали и рассчитать стоимость</p>
      </div>
      <form class="modal__form"
            action="/"
            method="post"
            id="form-feedback"
            data-url="{% url 'post_feedback' %}"
            data-feedback-form>
        {% csrf_token %}
        <div class="modal__fields">
          <div class="faq__row">
            <div class="faq__cell">
              <input type="text"
                     class="faq__cell-input"
                     placeholder="Имя"
                     required
                     name="name"
                     minlength="2"
                     maxlength="50" />
            </div>
            <div class="faq__cell">
              <input type="tel"
                     name="phone"
                     class="faq__cell-input"
                     placeholder="Номер телефона"
                     pattern="\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}"
                     data-phone
                     required />
            </div>
          </div>
          <div class="faq__row long">
            <div class="faq__cell--long">
              <textarea class="faq__cell-input--long"
                        placeholder="Уточните свой вопрос"
                        name="message"
                        maxlength="300"></textarea>
            </div>
          </div>
          <div class="policy">
            <input type="checkbox" class="policy__checkbox" name="" checked>
            <label for="policy" class="policy__label">
              С правилами <a href="/">политики конфиденциальности</a> ознакомлен
            </label>
          </div>
        </div>
        <div class="modal__action">
          <button type="submit" class="button faq__button">Оставить заявку</button>
        </div>
      </form>
    </div>
    <div class="decorative-lines">
      <span class="decorative-lines__item"></span>
      <span class="decorative-lines__item"></span>
      <span class="decorative-lines__item"></span>
    </div>
  </div>
</div>
