{% load static %}
<section id="about" class="about">
    <div class="about__inner">
        <div class="about__header-inner">
            <h1 class="about__header">
                Нас
                <br class="visible-mobile">
                выбирают
            </h1>
            {% if instagram_url %}
            <a href="{{ instagram_url }}" target="_blank">
                <img src="{% static "pages/images/about/inst.svg" %}"
                alt="Instagram"
                class="about__inst hidden-mobile"
                width="116"
                height="48"
                loading="lazy">
            </a>
            {% endif %}
            {% if telegram_url %}
            <a href="{{ telegram_url }}" target="_blank">
                <img src="{% static "pages/images/about/tg.svg" %}"
                alt="Telegram"
                class="about__tg hidden-mobile"
                width="111"
                height="48"
                loading="lazy">
            </a>
            {% endif %}
            {% if vk_url %}
            <a href="{{ vk_url }}" target="_blank">
                <img src="{% static "pages/images/about/VK.svg" %}"
                alt="VK"
                class="about__vk hidden-mobile"
                width="100"
                height="48"
                loading="lazy">
            </a>
            {% endif %}
            {% if instagram_url %}
            <a href="{{ instagram_url }}" target="_blank">
                <img src="{% static "pages/images/about/inst-m.svg" %}"
                alt="Instagram"
                class="about__inst visible-mobile"
                width="81"
                height="29"
                loading="lazy">
            </a>
            {% endif %}
            {% if telegram_url %}
            <a href="{{ telegram_url }}" target="_blank">
                <img src="{% static "pages/images/about/tg-m.svg" %}"
                alt="Telegram"
                class="about__tg visible-mobile"
                width="68"
                height="29"
                loading="lazy">
            </a>
            {% endif %}
            {% if vk_url %}
            <a href="{{ vk_url }}" target="_blank">
                <img src="{% static "pages/images/about/vk-m.svg" %}"
                alt="VK"
                class="about__vk visible-mobile"
                width="65"
                height="29"
                loading="lazy">
            </a>
            {% endif %}
        </div>
        <p class="about__subheader">
            — клининг с безупречной репутацией.
            <br class="hidden-mobile">
            С 2020 года создаем идеальную чистоту <span>для домов</span> и <span>бизнеса</span>, используя профессиональные методы и премиальную химию.
        </p>
        <div class="carousel__wrapper">
            <div class="carousel__track">
                {% for log in logo %}
                <div class="carousel__slide">
                    <img src="{{ log.photo.url }}">
                </div>
                {% endfor %}
                {% for log in logo %}
                <div class="carousel__slide">
                    <img src="{{ log.photo.url }}" loading="lazy">
                </div>
                {% endfor %}
            </div>
        </div>
        <button class="about__button button modal-open">Заказать уборку</button>
    </div>
</section>
