{% load static %}
<section class="cases">
    <div class="cases__inner ">
        <div class="cases__header">
            <h2 class="cases__title scroll-reveal-left">
                Мы выполнили<br>
                <span class="gradient">
                    >{{ about_main.cnt_order }} заказов
                </span>
            </h2>
            <p class="cases__subtitle scroll-reveal-right">
                Посмотрите на наши <span>реальные работы</span>
                и убедитесь, что мы
                <span>предоставляем услуги высокого качества.</span>
            </p>
        </div>
        <div class="cases__grid">
            <div class="cases__row ">
                <div class="cases__item scroll-reveal-left">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/2b2449712572b44fd9c0229fffedd64a2cc5806b.webp' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__stats">
                        <div class="cases__stats-header">
                            <h3 class="cases__stats-title">
                                {{ about_main.clients }}% клиентов
                            </h3>
                            <p class="cases__stats-subtitle">
                                Приходят к нам по рекомендации!
                            </p>
                        </div>
                        <span class="cases__stats-tag">
                            Доверие в цифрах
                        </span>
                        <img
                            src="{% static '/pages/images/cases/icon-2.webp' %}"
                            alt="Кейс" loading="lazy"
                            class="cases__stats-img"
                        >
                    </div>
                </div>
                <div class="cases__item scroll-reveal-top">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/7f3b16dfa1ad0f0c73a45f1ff75691abc9fac3f7.webp' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                 <div class="cases__item scroll-reveal-right">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/9ec8deebf3e207aa1b6a8aaf8ed23d34dd585697.webp' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/48f069e4d06ce079b27221484452f1d834e39546.webp' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/52e4c827b61c803c8ac5e47f1af9a82d44198566.webp' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
            </div>
            <div class="cases__row">
                <div class="cases__item scroll-reveal-left">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/56b8b4fd8512fc9ea091ce8c1c7282836048936e.webp' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                <div class="cases__item scroll-reveal-top">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/74fac89a6530fd7f17a5332d029d114ef1a3cc3c.webp' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                <div class="cases__item scroll-reveal-right">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/c083c872373920571c901d16655eeda31d8c2df9.webp' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
            </div>
            <div class="cases__row">
                <div class="cases__item scroll-reveal-left">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/1541e02d135490df23312ba09ef30396fba78868.webp' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/2504ca2aba5f910196e1502f1be31753f22251bd.webp' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/7102cd43c4082e0dab08eb14f3954f352549ba51.webp' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                <div class="cases__item scroll-reveal-top">
                    <div class="cases__stats">
                        <div class="cases__stats-header">
                            <h3 class="cases__stats-title">
                                {{ about_main.cnt_year }}
                            </h3>
                            <p class="cases__stats-subtitle">
                                Лет опыта в этой сфере
                            </p>
                        </div>
                        <span class="cases__stats-tag">
                            Опыт и профессионализм
                        </span>
                    </div>
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/117674ce28d00844c6bce6f04cd811c74afd1b84.webp' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                <div class="cases__item scroll-reveal-right">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/5990271e539e36833e33b94db90d37cccbe91d70.webp' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
            </div>
            <div class="cases__row">
                <div class="cases__item scroll-reveal-left">
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/942035011e4832adf93419206d38c16a7857c2d2.webp' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__stats">
                        <div class="cases__stats-header">
                            <h3 class="cases__stats-title">
                                {{ about_main.cnt_order }}
                            </h3>
                            <p class="cases__stats-subtitle">
                                Заказов выполнили за 2025 год
                            </p>
                        </div>
                        <span class="cases__stats-tag">
                            Опыт и профессионализм
                        </span>
                    </div>
                </div>
                <div class="cases__item scroll-reveal-top">
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/52941552455b997afcae38b6f891ad18d4b8b5e2.webp' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                <div class="cases__item scroll-reveal-right">
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/a6a64f0ab6968bca8c31d3b6b8cea0942e390fd6.webp' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/acda2d0134c99cdf0067055de32aa6a9e018c3a6.webp' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/b23c6deef26b1d64d3fdfbf5c4b1b903f4ae29ea.webp' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
            </div>
            <button class="cases__button button" data-cases-button>
                Показать ещё
            </button>
        </div>
    </div>
</section>