{% load static %}
<section class="cases">
    <div class="cases__inner ">
        <div class="cases__header">
            <h2 class="cases__title scroll-reveal-left">
                Мы выполнили<br>
                <span class="gradient">
                    >8 300 заказов
                </span>
            </h2>
            <p class="cases__subtitle scroll-reveal-right">
                Посмотрите на наши <span>реальные работы</span>
                и убедитесь, что мы
                <span>предоставляем услуги высокого качества.</span>
            </p>
        </div>
        <div class="cases__grid">
            <div class="cases__row ">
                <div class="cases__item scroll-reveal-left">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/rusgidro.png' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__stats">
                        <div class="cases__stats-header">
                            <h3 class="cases__stats-title">
                                960
                            </h3>
                            <p class="cases__stats-subtitle">
                                Заказов выполнили за 2025 год
                            </p>
                        </div>
                        <span class="cases__stats-tag">
                            Опыт и профессионализм
                        </span>
                    </div>
                </div>
                <div class="cases__item scroll-reveal-top">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/rusgidro.png' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                 <div class="cases__item scroll-reveal-right">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/rusgidro.png' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/rusgidro.png' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/rusgidro.png' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
            </div>
            <div class="cases__row">
                <div class="cases__item scroll-reveal-left">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/rusgidro.png' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                <div class="cases__item scroll-reveal-top">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/rusgidro.png' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                <div class="cases__item scroll-reveal-right">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/rusgidro.png' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
            </div>
            <div class="cases__row">
                <div class="cases__item scroll-reveal-left">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/rusgidro.png' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/rusgidro.png' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/rusgidro.png' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                <div class="cases__item scroll-reveal-top">
                    <div class="cases__stats">
                        <div class="cases__stats-header">
                            <h3 class="cases__stats-title">
                                960
                            </h3>
                            <p class="cases__stats-subtitle">
                                Заказов выполнили за 2025 год
                            </p>
                        </div>
                        <span class="cases__stats-tag">
                            Опыт и профессионализм
                        </span>
                        <img
                            src="{% static '/pages/images/cases/icon-2.png' %}"
                            alt="Кейс" loading="lazy"
                            class="cases__stats-img"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/rusgidro.png' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                <div class="cases__item scroll-reveal-right">
                    <div class="cases__img">
                        <img
                            src="{% static 'pages/images/cases/rusgidro.png' %}"
                            alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
            </div>
            <div class="cases__row">
                <div class="cases__item scroll-reveal-left">
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/rusgidro.png' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__stats">
                        <div class="cases__stats-header">
                            <h3 class="cases__stats-title">
                                960
                            </h3>
                            <p class="cases__stats-subtitle">
                                Заказов выполнили за 2025 год
                            </p>
                        </div>
                        <span class="cases__stats-tag">
                            Опыт и профессионализм
                        </span>
                    </div>
                </div>
                <div class="cases__item scroll-reveal-top">
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/rusgidro.png' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
                <div class="cases__item scroll-reveal-right">
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/rusgidro.png' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/rusgidro.png' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                    <div class="cases__img">
                        <img
                                src="{% static 'pages/images/cases/rusgidro.png' %}"
                                alt="Кейс" loading="lazy"
                        >
                    </div>
                </div>
            </div>
            <button class="cases__button button" data-cases-button>
                Показать ещё
            </button>
        </div>
    </div>
</section>