<form action="/"
      method="post"
      class="faq__form"
      id="form-feedback"
      data-url="{% url 'post_feedback' %}"
      data-feedback-form>
  {% csrf_token %}
  {% if with_header %}
  <h3 class="faq__form-title">
    Оставьте <span class="gradient">заявку</span>
  </h3>
  {% endif %}
  <div class="faq__fields">
    <div class="faq__row">
      <div class="faq__cell">
        <input type="text"
               class="faq__cell-input"
               placeholder="Введите имя"
               required
               name="name"
               minlength="2"
               maxlength="50" />
      </div>
      <div class="faq__cell">
        <input type="tel"
               name="phone"
               class="faq__cell-input"
               placeholder="+7 (000) 000-00-00"
               pattern="\+7 \(\d{3}\) \d{3}-\d{2}-\d{2}"
               data-phone
               required />
      </div>
    </div>
    <div class="faq__row long">
      <div class="faq__cell--long">
        <textarea
                class="faq__cell-input--long faq__cell-input--textarea"
                placeholder="Уточните свой вопрос"
                name="message"
                maxlength="300"
        ></textarea>
      </div>
    </div>
    <div class="policy">
      <input type="checkbox" class="policy__checkbox" name="" checked>
      <label for="policy" class="policy__label">
        С правилами <a href="/">политики конфиденциальности</a> ознакомлен
      </label>
    </div>
  </div>
  <div class="faq__action">
    <button type="submit" class="button faq__button">
      <span>Оставить заявку</span>
    </button>
  </div>
</form>
