{% load static %}
<section class="cta-request">
  <div class="cta-request__wrapper">
    <div class="cta-request__inner">
      <h2 class="cta-request__header splitting-text" data-splitting>
        Ваше время
        <br class="hidden-mobile">
        дороже
        <br class="visible-mobile">
        <span id="typewriterCta"></span>
      </h2>
      <div class="cta-request__action scroll-reveal-right">
        <button class="cta-request__button button--white modal-open">Оставить заявку</button>
        <div class="cta-request__contacts">
            {% if instagram_url %}
          <a href="{{ instagram_url }}"
             target="_blank"
             class="cta-request__contacts-item">
            <img src="{% static 'pages/icons/instagram.svg' %}"
                 alt="Instagram"
                 class=""
                 width="100%"
                 height="100%"
                 loading="lazy"
            >
          </a>
            {% endif %}
            {% if telegram_url %}
          <a href="{{ telegram_url }}"
             target="_blank"
             class="cta-request__contacts-item">
            <img src="{% static 'pages/icons/telegram.svg' %}"
                 alt="Telegram"
                 class=""
                 width="100%"
                 height="100%"
                 loading="lazy"
            >
          </a>
            {% endif %}
            {% if vk_url %}
          <a href="{{ vk_url }}"
             target="_blank"
             class="cta-request__contacts-item">
            <img src="{% static 'pages/icons/vk.svg' %}"
                 alt="VK"
                 class=""
                 width="100%"
                 height="100%"
                 loading="lazy"
            >
          </a>
            {% endif %}
            {% if whatsapp_url %}
          <a href="{{ whatsapp_url }}"
             target="_blank"
             class="cta-request__contacts-item">
            <img src="{% static 'pages/icons/whatsapp.svg' %}"
                 alt="Whatsapp"
                 class=""
                 width="100%"
                 height="100%"
                 loading="lazy"
              >
          </a>
            {% endif %}
            {% if max_url %}
            <a href="{{ max_url }}"
               class="cta-request__contacts-item"
               target="_blank">
                <img src="{% static 'pages/icons/max.png' %}"
                     alt="Max"
                     width="100%"
                     height="100%" loading="lazy"
                >
            </a>
            {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
