<div class="extra-services-card modal-open">
  <div>
    <div class="extra-services-card__header">{{ service.scope }}</div>
    <div class="extra-services-card__description">{{ service.desc|truncatechars:100 }}</div>
  </div>
  <div class="extra-services-card__button">
    <div class="extra-services-card__button-text">Оставить заявку</div>
    <svg viewBox="0 0 44 44" fill="none" xmlns="http://www.w3.org/2000/svg" class="extra-services-card__button-icon">
      <path d="M12.9258 31.0746L31.0749 12.9255" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      <path d="M12.9258 12.9257H31.0749V31.0747" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    </svg>
  </div>
</div>
