{% load number_filters %}
{% load static %}

<section class="service"
         {% if is_catalog %}style="padding-bottom: 80rem;"{% endif %}>
  <div id="service" class="service__inner">
    <div class="service__title {% if is_catalog %}service__title--catalog{% endif %}">
      {% if is_catalog %}
        <h1 class="service__header splitting-text">
          <span data-splitting>Список наших</span> <span class="gradient">Услуг</span>
        </h1>
        <p class="service__subheader">
          Профессиональный клининг, который говорит сам за себя.
          <br>
          услуги — это ваше время, комфорт и безупречный результат.
        </p>
      {% else %}
        <h5 class="h5 service__header splitting-text">
          <span data-splitting>Наши</span> <span class="gradient">Услуги</span>
        </h5>
        <p class="service__subheader">
          Профессиональный клининг, который говорит сам за себя.
          <br>
          услуги — это ваше время, комфорт и безупречный результат.
        </p>
      {% endif %}
    </div>
    <div class="service__cards-wrapper" data-stacking-cards>
      {% for service in services %}
        <div class="service__card" data-stacking-cards-item>
          <div class="service__card-wrapper">
            <div class="service__card-body">
              <div class="service__card-main">
                  <h6 class="service__card-header">{{ service.scope.name }}</h6>
                  <p class="service__card-subheader">{{ service.desc|truncatechars:250 }}</p>
                  <div class="service__card-features">
                    <div class="card-features">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M22 12C22 17.52 17.52 22 12 22C6.48 22 2 17.52 2 12C2 6.48 6.48 2 12 2C17.52 2 22 6.48 22 12Z" stroke="#525252" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M15.7099 15.18L12.6099 13.33C12.0699 13.01 11.6299 12.24 11.6299 11.61V7.51001" stroke="#525252" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>{{ service.time_work }} ч</span>
                    </div>
                    <div class="card-features">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M11.9999 3C7.03197 3 3 7.03197 3 11.9999M11.9999 20.9999C16.9679 20.9999 20.9999 16.9679 20.9999 11.9999" stroke="#525252" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M16.1035 7.89619L20.2795 3.72021" stroke="#525252" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M7.89648 16.1038L3.72051 20.2798" stroke="#525252" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M11.6992 12.2999L12.5992 11.3999" stroke="#525252" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M20.9993 7.34697V3H16.6523" stroke="#525252" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M3.00069 16.653V21H7.34766" stroke="#525252" stroke-width="1.8" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>до {{ service.square|space_thousands }} м2</span>
                    </div>
                  </div>
                <div class="service__pricing">
                  <div class="button__wrapper service__button-wrapper">
                    <a href="{{ service.get_absolute_url }}" class="button service__button">подробнее</a>
                    <a href="{{ service.get_absolute_url }}" class="service__button-arrow">
                      <svg viewBox="0 0 58 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M37.4999 20.5417L20.4999 37.5417" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M37.4999 37.5417V20.5417H20.4999" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
              <div class="service__image">
                  {% if service.photo %}
                  <img src="{{ service.photo.url }}"
                       alt=""
                       class="service__card-img"
                       width="{{ service.photo.width }}rem"
                       height="{{ service.photo.height }}rem"
                  >
                  {% endif %}
                  {% if service.is_popular == True %}
                  <div class="service__popular">
                      <img
                              src="{% static 'pages/images/hero/popular.svg'  %}"
                              alt="Хит"
                              width="100%" height="100%" loading="lazy"
                      >
                  </div>
                  {% endif %}
              </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
