{% load static %}
<section class="team">
  <div class="team__header-wrapper">
    <h5 class="team__header h5 scroll-reveal-top">Сотрудники Компании</h5>
  </div>
  <div class="team__layout">
      <div class="team__info">
          <div class="team__info-advantages scroll-reveal-right">
              <div class="team__info-card">
                  <p class="team__info-title">
                      {{ about_main.cnt_people }}
                  </p>
                  <div class="team__info-bottom">
                      <span>человек в команде</span>
                      <div class="team__info-tag">
                          Успех гарантирован
                      </div>
                  </div>
              </div>
              <div class="team__info-card">
                  <p class="team__info-title">
                      {{ about_main.cnt_cleaners }}
                  </p>
                  <div class="team__info-bottom">
                      <span>опытных клинеров</span>
                      <div class="team__info-tag">
                          Чистота по стандарту
                      </div>
                  </div>
              </div>
              <div class="team__info-card">
                  <p class="team__info-title">
                      {{ about_main.cnt_managers }}
                  </p>
                  <div class="team__info-bottom">
                      <span>менеджеров</span>
                      <div class="team__info-tag">
                          на связи 24/7
                      </div>
                  </div>
              </div>
          </div>
          <div class="team__controls controls scroll-reveal-right">
              <button class="team__controls-prev controls__button controls__prev">
                  <img src="{% static '/pages/icons/arrow-left.svg' %}" alt="Назад" class="controls__img" width="24" height="24">
              </button>
              <p class="team__controls-counter">02<span>/06</span></p>
              <button class="team__controls-next controls__button controls__next">
                  <img src="{% static '/pages/icons/arrow-right.svg' %}" alt="Вперед" class="controls__img" width="24" height="24">
              </button>
          </div>
      </div>
  <div class="team__splide splide">
    <div class="team__splide-track splide__track">
      <ul class="team__splide-list splide__list">
        {% for emp in employee %}
          <li class="team__splide-slide splide__slide">
              <div class="team__splide-img">
                  <img src="{{ emp.photo.url }}"
                         alt=""
                         class="team__img"
                         width="437"
                         height="560"
                    >
              </div>
            <div class="team__slide-info">
              <p class="team__slide-name">{{ emp.name }}</p>
              <p class="team__slide-post">{{ emp.position }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</section>
