@use 'helpers' as *;

html{
  &.is-lock{
    overflow: hidden;
  }
}

body{
  @include fluid-text(18, 14);
  font-family: var(--font-family);
  display: flex;
  flex-direction: column;
  color: var(--color-gray-300);
  background-color: var(--color-white);
  font-weight: 400;
  overflow-x: hidden;
}
main{
  flex-grow: 1;
}

h1,
h3,
h4 {
  font-weight: 500;
}

h2,
h5 {
  font-weight: 600;
}

.h5{
  font-weight: 600;
  font-size: rem(50);
  line-height: 1.3;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--color-black);

  @include tablet{
    font-size: rem(36);
    line-height: normal;
    letter-spacing: normal;
  }
  .orange {
    color: var(--color-orange);
  }
}

.p1{
  font-family: var(--font-family-accent);
  font-weight: 400;
  font-size: rem(24);
  color: var(--color-gray-200);
  span {
    color: var(--color-black);
  }
}

.p2{
  font-weight: 500;
  font-size: rem(24);
  text-transform: uppercase;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a{
  color: inherit;

  @include hover{
    color: var(--color-blue);
  }

  &[class]{
    text-decoration: none;
  }
}

